# Byte-compiled / cache / venv
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# VSCode / PyCharm
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Django stuff
db.sqlite3
media/

# Django collectstatic output (if using STATIC_ROOT)
staticfiles/

# --- keep our custom static under repo ---
# allow full static folder to be tracked
!static/
