# Byte-compiled / cache / venv
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# VSCode / PyCharm
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Django stuff
db.sqlite3
media/

# Django collectstatic output (if using STATIC_ROOT)
staticfiles/

# --- keep our custom static under repo ---
# ignore all static by default
/static/*

# but keep our source folders
!/static/chatbot/
!/static/admin/
!/static/admin_interface/
!/static/ckeditor/
!/static/colorfield/
!/static/django_ckeditor_5/
!/static/frontend/
!/static/streamfield/

# optional: if you only care about chatbot, just do
# !/static/chatbot/
