body, content-section {
    overflow-x: hidden !important
}

#btn-close {
    margin-top: -20px;
    float: inline-end;
    display: block;
}

.svg-inline--fa.fa-xmark {
    font-size: 25px;
    color: white;
}

#contact img {
    max-width: 100%;
    border-radius: 10px;
}

#contact .social-icon i {
    font-size: 2rem;
}

#contact .youtube-box {
    width: 100px;
    background-color: #ff0000;
    height: 60px;
    border-radius: 10px;
}

#contact .youtube-box i {
    color: white;
    font-size: 4rem;
}

#contact .social-icon {
    color: #FFFFFF;
    transition: color 0.3s ease;
}

#contact .social-icon:hover {
    color: #007bff;
}

#contact .social-icons a {
    margin-right: 15px;
}

#contact .social-icons a:last-child {
    margin-right: 0;
}


/* Preliminary Button Styles */
.preliminary-button .offcanvas-body {
    padding: 0 !important;
}

.preliminary-button .offcanvas-body a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.preliminary-button .btn-close-left {
    position: absolute;
    left: 10px;
    top: 15px;
}

.preliminary-button .floating-button {
    top: 20%;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.preliminary-button #floatingButton {
    writing-mode: vertical-rl;
    text-align: center;
    height: 170px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: rotate(180deg);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    background-color: rgb(55, 125, 255);
    color: rgb(255, 255, 255);
}

#whatsappButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    background: #25d366;
}

.whatsapp {
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 80px;
    transition: bottom 1s ease;
}

.preliminary-button .offcanvas-body .container {
    padding-bottom: 0 !important;
}

@media (max-width: 768px) {
    #btn-close {
        display: none;
    }

    .preliminary-button .floating-button {
        flex-direction: column-reverse;
        align-items: center;
        z-index: 1019;
        right: -5px;
    }

    .preliminary-button .floating-button .me-2 {
        margin-right: 0 !important;
    }

    .preliminary-button .floating-button #floatingButton {
        margin-bottom: 10px;
        margin-right: 0;
        border-radius: 0 10px 10px 0;
    }

    .preliminary-button #phoneButton, #whatsappButton {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .preliminary-button .offcanvas-end {
        width: 100% !important;
        z-index: 5001;
    }

    .preliminary-button .btn-close {
        display: block !important;
    }

    .fr-view img {
        width: 100% !important;
        height: auto;
    }

    .instructor-info .col {
        flex: 0 0 auto;
        width: 50%;
    }
}

.hemenAraButton {
    background-color: #4C4C4C !important;
}

.whatsappButtonOffcanvas {
    background-color: #25D366 !important;
}

.hemenAraButton,
.whatsappButtonOffcanvas {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
}

/* Top Header Styles */
.header .top-header {
    background-color: #4898C0;
    color: #fff;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

.header .top-header.scrolled {
    background-color: #fff;
    color: #000000;
}

.header .top-header .info-text.scrolled a {
    color: #000000;
}

a.youtube.scrolled {
    color: #FF0000;
}

a.instagram.scrolled {
    color: #C13584;
}

a.linkedin.scrolled {
    color: #0077B5;
}


.header .top-header .info-text {
    text-align: center;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 15px;
    line-height: 30px;
}

.header .top-header .info-text a {
    text-decoration: none;
    color: #FFFFFF;
}

.header .top-header .social-icons {
    padding-left: 2rem;
}

.header .top-header .social-icons a {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

@media (min-width: 768px) and (max-width: 991px) {
    .header .top-header .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .top-header .info-text {
        flex: 1;
        justify-content: center;
        white-space: nowrap;
    }

    .header .top-header .social-icons {
        padding-left: 0;
        justify-content: center;
    }
}

.header {
    background-color: #fff;
    transition: background-color 0.3s;
}

.navbar-custom {
    background-color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    padding: 0;
}

.navbar-scrolled {
    background-color: #4898C0;
}

.navbar-custom .navbar-brand {
    color: #4898C0;
    display: inherit;
    margin-right: 0;
}

.navbar-custom .navbar-brand.scrolled {
    color: #FFFFFF;
}

.navbar-custom .nav-link {
    color: black;
}

.display-contents {
    display: contents;
}

.btn-custom {
    color: #fff;
    background-color: #ED661D;
}


.navbar-custom .btn-custom:hover {
    background-color: #fff;
    color: #585858;
}

.icon-menu-button {
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    box-shadow: none;
    background: #585858;
    color: #FFFFFF;
    cursor: pointer;
    width: 100px;
    display: flex;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 20px;
}

.icon-menu-button .svg-inline--fa {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 14px;
}

@media (max-width: 768px) {
    .icon-menu-button {
        border: 1px solid;
        padding: 8px 7.5px;
        font-size: 24px;
        box-shadow: none;
        background: #ffffff;
        color: #555555;
        cursor: pointer;
        width: auto;
    }

    .student-login-style {
        padding: 0 8px 20px 20px;
    }
}

.icon-home-button {
    background: transparent;
    border: none;
    color: #4898C0;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.house-icon {
    color: black;
}

.house-icon.scrolled {
    color: #ffffff;
}

@media (max-width: 768px) {
    #menuButton {
        display: block;
        border-radius: 5px;
    }
}

@media (min-width: 992px) {
    #menuButton {
        display: flex;
        border-radius: 5px;
        gap: 0.5rem;
    }
}

.navbar-custom .icon-menu-button:hover {
    border: 1px solid #585858;
    color: #585858;
    background-color: white !important;
}

.offcanvas-custom {
    background-color: #181029;
    color: #fff;
    transition: transform 0.35s ease-in-out;
    transform: translateX(-100%);
    position: fixed;
    --bs-offcanvas-width: 90%;
    left: 5%;
}

.offcanvas-body {
    padding-left: 0;
    padding-top: 0;
}

.offcanvas-custom.show {
    transform: translateX(0);
}

.offcanvas-custom .nav-link {
    color: #fff;
}

.offcanvas-custom .nav-link:hover {
    color: #d3d3d3;
}

.offcanvas-custom .dropdown-item {
    color: #fff;
}

.offcanvas-custom .dropdown-item:hover {
    background-color: #00365c;
}

.btn-student {
    background-color: #0c2093;
    padding: 10px 25px;
    color: white;
}

.btn-student:hover {
    background-color: #0c2093;
    color: white;
    cursor: pointer;
}

.logo-font-style {
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    color: #0c2093;
    font-weight: 600;
}

.logo-font-style.scrolled {
    color: #ffffff;
}

.navbar-style {
    padding: 5px 60px;
}

.navbar-tab-style {
    padding-left: 30px !important;
}

.content-section h3 {
    padding-bottom: 10px;
}

.content-section .form-control {
    --bs-body-bg: rgb(225 225 225)
}

.all-education-card {
    text-align: center;
    height: 200px;
    display: table-cell;
    width: inherit;
    vertical-align: bottom;
}

.all-education-button {
    background-color: #10aa18;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 0 !important;
}

.all-education-button:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.all-education-card img {
    margin-bottom: 20px;
}


.offcanvas-header-list {
    border-right: 1px solid #a2a2a2;
    padding-right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.offcanvas-header-list ul {
    padding-top: 1rem;
    width: 100%;
}

.offcanvas-header-list li {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    border-top: 1px solid rgba(162, 162, 162, 0.1) !important;
    border-bottom: 1px solid rgba(162, 162, 162, 0.1) !important;
    padding: 0.5rem 0.4rem 0.5rem 15px;
}

.offcanvas-header-list li.home-icon-container {
    text-align: -webkit-center;
    border-bottom: none;
    padding: 0;
}

.offcanvas-header-list .menu-caret {
    margin-right: 12px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.offcanvas-header-list .header-link {
    color: #fff;
    text-decoration: none;
    flex-grow: 1;
}

.offcanvas-header-list .header-link:hover {
    color: #d3d3d3;
}

.offcanvas-header-list .active {
    background-color: #4898C0;
}

.home-icon {
    font-size: 1.5rem;
    text-align: center;
    display: block;
}

.offcanvas-header-list li.home-icon-container {
    justify-content: center;
    border: none !important;
    padding: 0;
}

.offcanvas-content {
    padding-left: 1rem;
    padding-top: 1.8rem;
}

.offcanvas-content .content-section {
    margin-bottom: 2rem;
}

.offcanvas-content .content-section h6 {
    color: #fff;
    margin-bottom: 0.5rem;
}

.offcanvas-content .content-section p {
    color: #ccc;
}

.education-card {
    color: #fff;
    border: 1px solid #555;
    padding: 20px;
    margin: 6px 0;
    border-radius: 8px;
    transition: transform 0.3s ease;
    height: 250px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.education-card:hover {
    transform: translateY(-5px);
}

.education-card img {
    width: 260px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 6px;
}

.education-card .card-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 6px;
}

.btn.btn-primary {
    background-color: #0D2192FF !important;
    border-color: #0D2192FF !important;
}

.education-card .card-text {
    font-size: 11px;
    color: #ccc;
    flex-grow: 1;
}

.widget {
    padding: 20px;
}

.widget__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #f6f6f6;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}


.widget--list ul {
    padding-left: 0;
}

.widget--list li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.widget--list li a:hover {
    color: #0056b3;
}

.list-unstyled {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.font-14 {
    font-size: 14px;
}

.event-card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.event-card {
    border: 1px solid #555;;
    color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.event-card .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    flex-shrink: 0;
}

.event-card .card-text {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
    flex-grow: 1;
}

.event-card a.btn {
    margin-top: auto;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.event-card a.btn:hover {
    background-color: #fff;
    color: #066AAB;
}

.announcement-item {
    padding: 8px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.announcement-item:hover {
    transform: translateY(-5px);
}

.announcement-item img {
    width: 260px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 8px;
    margin-right: 8px;
}

.card-body, .announcement-item .card-body {
    margin-left: 8px;
}

.card-title, .announcement-item .card-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #ffffff;
}

.card-text, .announcement-item .card-text {
    font-size: 12px;
    color: #ccc;
    margin-bottom: 3px;
}

.card-preview, .announcement-item .card-preview {
    font-size: 12px;
    color: #bbb;
    margin-top: 6px;
}

.text-white {
    color: #fff !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

@media (min-width: 576px) {
    .announcement-item img {
        height: 80px;
    }

    .announcement-item .card-title {
        font-size: 16px;
    }

    .announcement-item .card-text {
        font-size: 13px;
    }

    .announcement-item .card-preview {
        font-size: 13px;
    }
}

.blog-item .card {
    margin-top: 10px;
    background-color: #1B1B1B;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-item .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.blog-item .card-title a {
    color: #fff;
}

.blog-item .card-title a:hover {
    color: #ddd;
}

.blog-item .card-text,
.blog-item .card-preview {
    color: #ccc;
}

.blog-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
}

.text-white {
    color: #fff !important;
}

@media (min-width: 576px) {
    .blog-item img {
        height: 180px;
    }

    .blog-item .card-title {
        font-size: 18px;
    }

    .blog-item .card-text,
    .blog-item .card-preview {
        font-size: 14px;
    }
}

.social-icons {
    width: 100%;
}

.social-icon {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
    text-align: center;
    width: 25%;
    padding: 10px 0;
}

.social-icon:hover {
    color: #4898C0;
}

.offcanvas-header-list .social-icons {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.offcanvas-header-list .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.offcanvas-header-list .social-icons a:hover {
    color: #ED661D;
}

.banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.biz-sizi-arayalim-section .card {
    background-color: rgba(255, 255, 255, 0.9);
    width: 378px;
    height: 323px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    border-radius: 10px;
}

@media (min-width: 820px) and (max-width: 1180px) {
    .biz-sizi-arayalim-section .col-lg-4,
    .biz-sizi-arayalim-section .col-lg-3 {
        flex-grow: 1;
        flex-basis: 0;
    }

    .kariyer-header-container {
        justify-content: normal !important;
    }

    .biz-sizi-arayalim-section .card {
        width: 320px;
        height: 250px;
        margin-left: 20px;
        padding: 15px !important;
    }

    .biz-sizi-arayalim-section .info-title {
        font-size: 20px;
        line-height: 1.2;
    }

    .biz-sizi-arayalim-section .custom-input {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .biz-sizi-arayalim-section .custom-button {
        font-size: 1rem;
        padding: 0.6rem 1rem;
    }

    #successMessage {
        font-size: 0.9rem;
    }
}


.biz-sizi-arayalim-section .info-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
}

.biz-sizi-arayalim-section .btn-primary,
.hemenAraButton:hover,
.whatsappButtonOffcanvas:hover {
    transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
}

.biz-sizi-arayalim-section .btn-primary:hover,
.hemenAraButton:hover,
.whatsappButtonOffcanvas:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.biz-sizi-arayalim-section .text-white h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
}

.biz-sizi-arayalim-section .text-white p {
    font-size: 1.2rem;
}

/* HERO — background driven by a CSS var set via JS */
.bg-header {
    position: relative;
    overflow: hidden;
    background-image: var(--hero-url, url('https://talktoweb.com/wp-content/uploads/2024/04/bg-1.webp'));
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
}


.kariyer-header {
    font-family: 'Inter', sans-serif;
    font-size: 65px !important;
    line-height: 1.2em;
    color: #000248;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: -0.5px;
    margin-top: 15px !important;
    margin-bottom: -10px;
}

@media (max-width: 768px) {
    .bg-header {
        margin-top: -35px;
        display: flex;
        align-items: end;
        background-image: url(https://talktoweb.com/wp-content/uploads/2024/04/bg-1.webp);
        background-size: cover;
        background-position: -680px !important;
        padding: 0 0 20px 20px !important;
    }

    .kariyer-header {
        font-family: 'Inter', sans-serif;
        font-size: 65px !important;
        line-height: 1.2em;
        color: white;
        font-weight: 600;
        text-transform: capitalize;
        letter-spacing: -0.5px;
        margin-top: 15px !important;
        margin-bottom: -10px;
        text-shadow: 0 0 3px rgba(0, 0, 0, .71);
    }

    .bg-info {
        background-color: transparent !important;
    }

    .icon-home-button {
        background: transparent;
        border: none;
        color: #4898C0;
        font-size: 1.5rem;
        padding: 0;
        border-radius: 5px;
    }
}


.custom-input {
    background-color: #EAF5FD;
    color: #757598;
    font-size: 1.125rem;
    padding: 0.75rem;
    border: none;
}

.custom-input::placeholder {
    color: #757598;
}

.custom-input:focus,
.custom-input:not(:placeholder-shown) {
    background-color: #F3F7FA;
}

.custom-button {
    font-size: 1.125rem;
    padding: 0.75rem 1.25rem;
    color: #fff;
}

@media (max-width: 992px) {
    .kariyer-header {
        font-size: 45px !important;
        line-height: 60px;
    }
}

.course-list .card-img-container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    height: 100%;
}

.course-list .card-img-container img {
    transition: transform 1.5s cubic-bezier(0, 0, .2, 1);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-list .card-body {
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 0 0 4px 4px;
}

.course-list .card-title {
    font-size: 90%;
    margin-bottom: 0;
    color: #000248;
}

.course-list .card {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0;
    margin: auto;
}

.course-list .card:hover .card-img-container img {
    transform: scale(1.1);
}

.course-list .course-button {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0;
    word-spacing: 3px;
    color: #fff;
    background-color: #377dff;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 #c2d4f6;
    padding: 15px 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-list .course-button:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.2);
}

.course-list .text-primary {
    color: #000248 !important;
}

.course-list .text-primary:hover {
    color: #0056b3 !important;
}

/*Mezunlar Section*/
.mezunlarimiz-section {
    padding: 20px 0;
}

.mezunlarimiz-section .wp-caption {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.mezunlarimiz-section .wp-caption img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.mezunlarimiz-section .wp-caption-text {
    font-size: 17px;
    color: #000248;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
}

.mezunlarimiz-section .wp-caption:hover img {
    transform: scale(1.05);
}

.mezunlarimiz-section .mezun-card img {
    object-fit: cover;
}

.mezunlarimiz-section .mezun-card a {
    text-decoration: none;
    color: inherit;
}

.student-video-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 991px) {
    .student-video-style {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mezun-card {
        flex: 0 0 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }

    .svg-icon-container {
        width: 50px !important;
        height: 50px !important;
    }
}

@media (max-width: 768px) {
    .mezun-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/*Mezunlar Section End*/

.neden-talk-to-web-section {
    padding: 20px 0;
}

.neden-talk-to-web-section .text-center {
    color: #000248;
    padding-bottom: 40px;
    font-size: 1.5rem;
}

.neden-talk-to-web-section .neden-card {
    text-align: center;
    height: 100%;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}

.neden-talk-to-web-section .wp-caption {
    background: none;
    border: none;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.neden-talk-to-web-section .wp-caption img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.neden-talk-to-web-section .wp-caption-text {
    font-size: 1.1rem;
    color: #000248;
    font-weight: bold;
    padding-top: 2.5rem;
    margin-bottom: 0;
}

.neden-talk-to-web-section .neden-description {
    font-size: 0.875rem;
    color: #555;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    text-align: center;
    flex-grow: 1;
}

.neden-talk-to-web-section .svg-icon-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #377DFF;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s cubic-bezier(0.25, 1.5, 0.5, 1.5), background-color 0.3s ease;
}

.neden-talk-to-web-section .neden-card:hover .svg-icon-container {
    transform: translateX(-10px);
    background-color: #FFB901;
}

.neden-talk-to-web-section .svg-icon-container svg {
    color: #fff;
    width: 100%;
    height: auto;
}

.numaralar-section {
    background-image: url('https://talktoweb.com/wp-content/uploads/2024/03/bilisim_ogrencisi-1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 443px;
    display: flex;
    align-items: center;
}

.inner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}


.numaralar-section .section-title,
.numaralar-section-static .section-title {
    color: #FDB900;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 35px;
}

.numaralar-section .d-flex,
.numaralar-section-static .d-flex {
    color: #FFFFFF;
}

.numaralar-section .card,
.numaralar-section-static .card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.numaralar-section .btn-primary,
.numaralar-section-static .btn-primary {
    transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out;
}

.numaralar-section .btn-primary:hover,
.numaralar-section-static .btn-primary:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.numaralar-section .custom-input,
.numaralar-section-static .custom-input {
    background-color: #F3F7FA;
    color: #757598;
    font-size: 1.125rem;
    padding: 0.75rem;
    border-radius: 10px;
}

.numaralar-section .custom-input::placeholder,
.numaralar-section-static .custom-input::placeholder {
    color: #757598;
}

.numaralar-section .custom-button,
.numaralar-section-static .custom-button {
    font-size: 1.125rem;
    padding: 0.75rem 1.25rem;
    color: #fff;
    border-radius: 5px;
    background: #377DFF;
}

@media (max-width: 768px) {
    .numaralar-section .section-title {
        margin-top: 3rem;
    }

    .numaralar-section .d-flex {
        flex-wrap: wrap;
    }

    .numaralar-section .number-box {
        width: 48%;
    }

    .numaralar-section .number-box h2 {
        font-size: 35px;
        font-weight: 700;
        line-height: 50px;
    }

    .numaralar-section .number-box p {
        font-size: 15px;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 30px;
    }

    .student-video-style {
        flex-direction: column;
    }

    .numaralar-section .stats-numbers {
        order: 1;
        width: 100%;
    }

    .numaralar-section .stats-form {
        order: 2;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        background: white;
    }
}

@media (max-width: 768px) {
    .numaralar-section-static .section-title {
        margin-top: 3rem;
        font-size: 18px;
        text-align: center;
    }

    .numaralar-section-static .d-flex {
        flex-wrap: wrap;
    }

    .numaralar-section-static .stats-form {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px;
    }

    .numaralar-section-static .card {
        padding: 15px;
    }

    .numaralar-section-static .custom-input {
        font-size: 1rem;
        padding: 10px;
    }

    .numaralar-section-static .custom-button {
        font-size: 1rem;
        padding: 10px;
    }

    .numaralar-section-static .col-7,
    .numaralar-section-static .col-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .numaralar-section-static .col-1 {
        display: none;
    }

    .numaralar-section-static {
        padding: 20px 15px;
    }

    .numaralar-section-static .card h4 {
        font-size: 22px;
    }
}


.testimonial-item {
    box-sizing: border-box;
    text-align: center;
    background-color: #f7f3f4;
    border-radius: 10px;
}

.testimonial-content {
    padding-bottom: 20px;
    min-height: 200px;
    max-height: 200px;
}

.testimonial-title {
    font-weight: 600;
    color: #001953;
    margin-bottom: 10px;
}

.hr-page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 63vh;
}

.hr-page-wrapper #content {
    flex-grow: 1;
}

.wrapper_footer {
    background-color: #181A33;
    color: #fff;
    padding-top: 40px;
    margin-top: auto;
}

.wrapper_footer .footer-title {
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}

.wrapper_footer .footer-contact {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
}

.ofice-contact {
    color: #fff;
    text-align: left;
    font-size: 16px;
    margin-bottom: 0.3rem;
    text-decoration: none;
}

.ofice-contact a {
    text-decoration: none;
    color: white;
}

.wrapper_footer .footer-logo {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper_footer .footer-logo svg {
    width: 4.5rem;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto 20px;
    fill: #fff;
}

.wrapper_footer .footer-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    margin: 0 auto 30px;
}

.wrapper_footer .footer-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

.wrapper_footer .list-unstyled a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.wrapper_footer .list-unstyled a:hover {
    color: #fff;
    text-decoration: underline;
}

.wrapper_footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 0 1rem;
}

.wrapper_footer .social-icon {
    color: #fff;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.wrapper_footer .social-icon:hover {
    color: #ccc;
}

.wrapper_footer .footer-bottom {
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    color: #757486;
}

@media (max-width: 768px) {
    .wrapper_footer .text-center,
    .wrapper_footer .footer-contact,
    .wrapper_footer .footer-bottom {
        text-align: center;
    }

    .wrapper_footer .row > div {
        text-align: center;
        padding-bottom: 20px;
    }

    .wrapper_footer .social-icons {
        justify-content: center;
    }

    .wrapper_footer .list-unstyled {
        display: flex;
        flex-direction: column;
    }

    .wrapper_footer .list-unstyled a:hover {
        color: #fff;
        text-decoration: underline;
    }

    .wrapper_footer .footer-video {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper_footer .footer-video iframe {
        width: 100%;
        max-width: 100%;
    }
}

/*All Education*/
.numaralar-section-static {
    background-image: url('https://talktoweb.com/wp-content/uploads/2021/05/become-inst-img-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 503px;
    display: flex;
    align-items: center;
}

/*All Education End*/

/*About Us*/
.info-section {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 928px) {
    .info-section #info {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media (max-width: 728px) {
    .numaralar-section-static {
        min-height: 386px;
        background-position: right;
    }
}

.info-section {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 928px) {
    .info-section #info {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media (max-width: 728px) {
    .numaralar-section-static {
        min-height: 386px;
        background-position: right;
    }
}

.info-section #info {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 0;
    padding-right: 0;
    max-width: 1400px;
}

.info-section .banner-section {
    background-color: #D3F1F5;
    padding: 30px 0;
    text-align: center;
}

.info-section .banner-title .title {
    color: #000248;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.info-section .info-subtitle {
    font-size: 1rem;
    font-weight: bold;
    color: #757589;
}

.info-section .info-text {
    font-size: 1rem;
    color: #757589;
    line-height: 1.8;
    margin-bottom: 0.5rem;
}

.info-section .info-list {
    color: #757589;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    font-size: 1rem;
    line-height: 1.8;
}

.info-section .info-list li {
    padding-left: 0;
    text-indent: 0;
    font-size: 1rem;
    line-height: 1.8;
}

.info-section .info-list li::before {
    content: "";
    display: none;
}

.info-section .info-list p {
    margin-bottom: 0.2rem;
}

/* Table Styles */
.info-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    table-layout: fixed;
    word-wrap: break-word;
}

.info-section table th,
.info-section table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.info-section table th {
    background-color: #D3F1F5;
    color: #000248;
    font-weight: bold;
    font-size: 1rem;
}

.info-section table td {
    background-color: #fff;
    color: #757589;
    font-size: 1rem;
    line-height: 1.5;
}

.info-section table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.info-section table tbody tr:hover {
    background-color: #f1f1f1;
}

.info-section a {
    color: #000248;
    font-weight: bold;
    text-decoration: none;
}

.info-section blockquote {
    margin-bottom: 0;
}

.info-section .info-bigTitle {
    color: #000248;
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0;
}

.custom-table td,
.custom-table th {
    word-break: break-word;
}

/*About Us End*/

/*Education*/
.egitim-section .course-title {
    font-size: 2rem;
}

.egitim-section .text h1 {
    color: #000248;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 1px dotted #000248;
    padding-bottom: 0.5rem;
}

.egitim-section .card-text.info {
    color: #757589;
    font-size: 1rem;
    line-height: 1.6;
}

.egitim-section .card-text.note {
    font-weight: bold;
    color: #757589;
    font-size: 1rem;
}

#phoneNumber {
    color: #000248;
}

.egitim-section .card {
    border: none;
}

.egitim-section .card-body {
    padding: 0;
}

.egitim-section .btn-primary {
    padding: 0.75rem 1.5rem;
}

.egitim-section .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.egitim-section .preview-img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.egitim-section .preview-img + .preview-img {
    margin-top: 5px;
}

.egitim-section .course-price {
    font-size: 2.5rem;
    color: #000248;
    font-weight: bold;
}

.egitim-section .instructor-info {
    color: #000248;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: bold;
}

.egitim-section .instructor-name {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.egitim-section .instructor-title {
    font-size: 1rem;
    color: #757589;
}

.egitim-section .navigation-button {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
}

.egitim-section .navigation-button i {
    font-size: 30px;
}

.egitim-section .prev-button {
    left: 10px;
}

.egitim-section .next-button {
    right: 10px;
}

@media (max-width: 768px) {
    .egitim-section .preview-img {
        display: none;
    }

    .egitim-section .position-relative {
        position: relative;
    }
}

.tab-section .nav-tabs {
    position: sticky;
    background: white;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}

.tab-section .nav-item {
    margin-bottom: 0;
    text-align: center;
    flex-grow: 1;
}

.tab-section .nav-link {
    position: relative;
    border: none;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 1rem;
    color: #555;
    background-color: #f8f9fa;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.tab-section .nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 0;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.nav-link.custom-after:after {
    background-color: rgb(255, 255, 255);
}

.no-border-radius {
    border-radius: 0 !important;
}

.tab-section .nav-link.active::after {
    width: 20%;
}

.tab-section .nav-link:hover::after {
    width: 20%;
}

.tab-section .tab-pane {
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);
    border-radius: 4px;
    margin-top: -2px;
}

@media (max-width: 1024px) {
    .tab-section .nav-tabs {
        position: sticky;
        z-index: 1010;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .tab-section .nav-link {
        font-size: 0.9rem;
        padding: 10px 15px;
    }

    .tab-section .tab-pane {
        padding: 20px;
    }
}

.kayit-ol-card {
    position: fixed;
    width: 450px;
    height: 150px;
    bottom: 0;
    right: 100px;
    padding-bottom: 40px !important;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1050;
}

.kayit-ol-card .card-body {
    padding: 0;
}

.kayit-ol-card .card-body .row > * {
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    align-items: center;
}

.kayit-ol-card .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.kayit-ol-card .card-image img {
    max-height: 100%;
    object-fit: contain;
}

.kayit-ol-card .card-details {
    padding-left: 15px;
    color: #000;
    text-align: left;
}

.kayit-ol-card .card-details .card-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #000000;
}

.kayit-ol-card .card-details .card-instructor {
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
}

.kayit-ol-card .card-details .card-instructor-title {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.kayit-ol-card .card-details .card-date {
    font-size: 13px;
    color: #666;
}

.kayit-ol-card .card-action .btn {
    padding: 10px 15px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 100%;
    max-width: 150px;
    text-align: center;
}


@media (max-width: 1024px) {
    .kayit-ol-card {
        display: block;
    }
}

@media (max-width: 768px) {
    .kayit-ol-card {
        right: 0 !important;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .kayit-ol-card .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .kayit-ol-card .card-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        padding-left: 0 !important;
        gap: 3px;
    }

    .kayit-ol-card .card-details .card-title {
        font-size: 14px;
        text-align: left;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .kayit-ol-card .card-details .card-instructor {
        font-size: 14px;
        text-align: left;
        margin-bottom: 10px;
    }

    .kayit-ol-card .card-details .card-instructor-title {
        font-size: 14px;
        text-align: left;
        font-weight: bold;
    }

    .kayit-ol-card .card-details .card-date {
        font-size: 12px;
        text-align: left;
        margin-bottom: 15px;
    }

    .kayit-ol-card .card-action .btn {
        font-size: 16px;
        margin-top: 55px;
        display: block;
    }

    .kayit-ol-card .card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        padding-right: 0;
    }
}

/*Education End*/

/*Preliminary*/
.banner-section {
    background-color: #D3F1F5;
    padding: 30px 0;
    text-align: center;
}

.banner-title .title {
    color: #000248;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.form-container {
    border-radius: 8px;
    margin: auto;
}

.form-section .form-label {
    font-weight: bold;
    color: #333;
}

.form-section .form-control {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7);
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.form-section .form-select {
    color: rgba(0, 0, 0, 0.7);
}

.form-control:focus {
    border-color: #066AAB;
    box-shadow: none;
}

.asterisk {
    color: #d63637;
}

.form-section .btn-primary {
    background-color: #066AAB;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #066AAB;
    border-color: #066AAB;
}

/* Styling the file upload container */
.file-upload-container {
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .file-upload-container {
        padding: 0.25rem;
    }
}

.file-upload-container:hover {
    background-color: #e9ecef;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-upload-content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-upload-icon {
    font-size: 1rem;
    color: #A5A5A5;
    margin-right: 10px;
}

.file-upload-hint {
    color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    margin: 0;
    line-height: 1.2;
    text-align: left;
}

/*Preliminary End*/

/*Why Talk To Web*/
.info-title {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: #000248;
    margin-bottom: 0.8rem;
    font-weight: 600;
}

/*Why Talk To Web End*/

/*ContractedInstitutions*/
.company-logo-card {
    background-color: #fff;
    box-shadow: 0 5px 38px 0 rgba(156, 156, 156, .26);
    border-radius: 4px;
    padding: 45px 35px 35px;
    text-align: center;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 5px;
}

.company-logo-card h6 {
    font-family: Inter, sans-serif;
    text-transform: capitalize;
    line-height: 28px;
    letter-spacing: .3px;
    font-weight: 600;
    color: #000248;
    font-size: 16px;
    margin: 0;
}

.company-logo {
    height: 50px;
    margin-bottom: 10px;
}


/*ContractedInstitutions End*/

/*Blog */
.blog-section .card {
    height: 363px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    border: none;
    transition: box-shadow 0.3s ease-in;
    padding: 0;
    border-radius: 4px;
    margin-bottom: 30px;
}

.blog-section .card-img-top {
    height: 220px;
    object-fit: cover;
    transition: transform 0.6s ease-in;
    will-change: transform;
}

.blog-section .card-img-top:hover {
    transform: scale(1.05);
}

.blog-section .badge {
    font-size: 0.75rem;
    padding: 0.3em 0.5em;
    letter-spacing: 0.5px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    background-color: #377DFF;
}

.blog-section .card-title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 35px;
    color: #000248;
}

.blog-section .card-title a {
    color: inherit;
    text-decoration: none;
}

.blog-section .card-title a:hover {
    color: inherit;
    text-decoration: none;
}

.blog-section .svg-inline--fa {
    color: #377DFF;
    font-size: 1.1rem;
}

.blog-section .side-content .card {
    height: auto;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.blog-section .side-content .card-title {
    font-family: Inter, sans-serif;
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: #000248;
    font-size: 20px;
}

.blog-section .side-content ul li {
    display: flex;
    align-items: center;
}

.blog-section .side-content ul li img {
    width: auto;
    height: 80px;
    transition: transform 0.42s ease-out;
}

.blog-section .side-content ul li img:hover {
    transform: scale(1.05);
}

.blog-section .side-content ul li a {
    color: #000248;
    text-decoration: none;
    font-size: 0.8rem;
}

.blog-section .side-content ul li a:hover {
    color: #000248;
    text-decoration: none;
}

.blog-section .side-content ul li .text-muted {
    font-size: 0.75rem;
}

.blog-section .side-content .card-body {
    padding: 0 0;
}

.blog-section .side-content .text-categories {
    color: rgb(117, 117, 137);
    font-size: 1rem;
}

.blog-section .side-content .text-categories {
    color: rgb(117, 117, 137);
    font-size: 1rem;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.blog-section .side-content .text-categories:hover {
    color: #377dff;
}

.blog-section .side-content .text-categories::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 0;
    background-color: #377dff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.blog-section .side-content .text-categories:hover::before {
    width: 100%;
    left: 0;
}

.blog-section .side-content .text-categories:not(:hover)::before {
    width: 0;
    left: auto;
    right: 0;
}


.blog-section .tag-cloud {
    display: flex;
    flex-wrap: wrap;
}

.blog-section .tag-cloud-link {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 0 15px;
    background: #e9e9e9;
    font-size: 13px;
    color: #000248;
    font-weight: 400;
    line-height: 26px;
    border-radius: 4px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.blog-section .tag-cloud-link:hover {
    opacity: 1;
    background: #377dff;
    color: #fff;
}

@media (max-width: 768px) {
    .info-text p,
    .info-text ul,
    .info-text .tag-cloud {
        text-align: justify;
        word-spacing: 0.1em;
    }

    .info-text {
        width: 100%;
    }

    .info-text p,
    .info-text ul,
    .info-text .tag-cloud {
        margin: 0;
        padding: 0;
    }
}

/*Blog End*/

/*FAQ*/
.faq-section .accordion-item {
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.faq-section .accordion-button {
    background-color: #f8f9fa;
    color: #000248;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Inter', sans-serif;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.faq-section .accordion-button:focus {
    box-shadow: none;
}

.faq-section .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #377dff;
}

.faq-section .accordion-body {
    font-size: 1rem;
    color: #757589;
    transition: all 0.5s ease;
}

.faq-section .accordion-item {
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.faq-section .accordion-item:last-child {
    margin-bottom: 0;
}

.faq-section .accordion-collapse {
    transition: height 0.4s ease-in-out;
}

/*FAQ End*/

/*ExampleBlog*/
.blog-post {
    color: #333;
    line-height: 1.6;
}

.blog-post-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.blog-post-meta {
    font-size: 0.9rem;
    color: #777;
}

.blog-post-image img {
    width: 100%;
    border-radius: 10px;
}

.next-blog .card-title {
    font-family: Inter, sans-serif;
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: #000248;
    font-size: 1rem;
}

.next-blog {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.next-blog .text-end {
    text-align: right;
    margin-right: 10px;
}

.next-blog .big-chevron {
    font-size: 1rem;
    color: #000248;
    background: #f5f7ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    margin-left: 1rem;
}

.next-blog .big-chevron:hover {
    opacity: 1;
    background: #377dff;
    color: #fff;
}

.blog-section .form-section .form-control {
    background-color: #F3F7FA;
}

.blog-section .form-section .text .btn-primary {
    background-color: #377dff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.blog-section .form-section .text .btn-primary:hover {
    background-color: #377dff;
    transform: translateY(-8px);
}

.blog-section .blog-post-image {
    overflow: hidden;
    position: relative;
}

.blog-section .blog-post-image img {
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: auto;
}

.blog-section .blog-post-image:hover img {
    transform: scale(1.02);
}

/*ExampleBlog End/*

/*AllWebinars*/
.upcoming-webinar-card,
.past-webinar-card {
    border: none;
}

.upcoming-webinar-card img,
.past-webinar-card img {
    border-radius: 0.25rem;
}

.upcoming-webinars .info-title,
.past-webinars .info-title {
    font-size: 2rem
}

.upcoming-webinar-card .card-title,
.past-webinar-card .card-title {
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000248;
}

.upcoming-webinar-card .card-body,
.past-webinar-card .card-body {
    margin-left: 0;
    padding: 0;
}

.upcoming-webinar-card .card-text,
.past-webinar-card .card-text {
    font-size: 1rem;
    color: #757589;
}

.upcoming-webinar-card .btn-primary {
    background: #5cb85c;
    border: none;
    font-size: 1rem;
}

.upcoming-webinar-card .btn-wrapper,
.past-webinar-card .btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.past-webinar-card .btn-wrapper {
    justify-content: flex-start;
}

.past-webinar-card .btn-primary,
.upcoming-webinar-section .btn-primary {
    background-color: #377dff;
    border: none;
    font-size: 1rem;
    padding: 12px 24px;
    transition: transform 0.6s ease-in-out, background-color 0.6s ease-in-out;
}

.past-webinar-card .btn-primary:hover,
.upcoming-webinar-section .btn-primary:hover {
    transform: translateY(-8px);
    background: #377dff;
}

/*AllWebinars End*/

/*Webinar*/
.past-webinar-section .speaker-title,
.upcoming-webinar-section .speaker-title {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}

.past-webinar-section .info-title,
.upcoming-webinar-section .info-title {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.past-webinar-section .form-section,
.upcoming-webinar-section .form-section {
    padding-left: 0;
    padding-right: 0;
}

@keyframes fadeInUpFromMiddle {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.image-fade-in {
    animation: fadeInUpFromMiddle 1s ease-out forwards;
    opacity: 0;
}

/*Webinar End*/

/* SEOSection*/
.seo-section .seo-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: rgba(156, 156, 156, 0.26) 0 5px 38px 0;
    transition: box-shadow 0.3s ease-in-out;
}

.seo-section .seo-card:hover {
    box-shadow: rgba(156, 156, 156, 0.35) 0 8px 50px 0;
}

.seo-icon {
    font-size: 3rem;
    color: #0d6efd;
}

.seo-section .info-text {
    font-size: 14px;
    line-height: 24px;
}

.seo-section .info-title {
    font-size: 16px;
    line-height: 28px;
}

@media (min-width: 768px) {
    .seo-section {
        padding: 4rem 0;
    }

    .seo-title {
        font-size: 1.5rem;
    }

    .seo-description {
        font-size: 1.125rem;
    }
}

/* SEOSection End*/

.row.navbar-adresses {
    padding-top: 100px;
}

.to-all-button {
    align-self: center;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .offcanvas-body {
        padding-bottom: 0;
    }

    .offcanvas-content {
        background-color: #181029;
        overflow-x: hidden;
        transition: transform 0.35s ease-in-out;
        z-index: 1041;
        transform: translateX(100%);
        height: 100vh;
    }

    .offcanvas-content.show {
        transform: translateX(0);
    }

    .offcanvas-header-list {
        border-right: 0;
        position: absolute;
        /*width: 100%;*/
        z-index: 1040;
    }

    .offcanvas-header-list ul {
        padding-top: 0;
        line-height: 30px;
    }

    .offcanvas-header-list .menu-caret {
        line-height: normal;
    }

    .offcanvas-custom {
        --bs-offcanvas-width: 100%;
    }

    .icon-menu-button:focus {
        box-shadow: none;
    }

    .icon-menu-button .backArrow {
        font-size: 24px;
        font-weight: bold;
        margin-right: 0;
        color: #FFFFFF;
        padding: 8px 15px;
        background-color: #4898C0;
        border: 1px solid #585858;
        border-radius: 5px;
    }

    .icon-menu-button .menuBars {
        display: inline-block;
        width: 1.5em;
    }

    .menuBack.scrolled .svg-inline--fa {
        color: #4898C0;
        background-color: #FFFFFF;
    }

    .menuBack {
        padding: 0;
        border: 0;
    }

    .banner img {
        height: auto;
    }

    .row.navbar-adresses {
        padding-top: 40px;
        gap: 30px;
        padding-bottom: 60px;
    }

    .all-education-card {
        display: table;
        padding-bottom: 50px;
    }

    .li-style {
        background: transparent !important;
    }

    .row.video-student {
        flex-direction: column;
    }
}

.btn-student-mobile {
    background-color: #10aa18;
    padding: 10px 25px;
    color: white;
}

.btn-student-mobile:hover {
    background-color: #10aa18;
    color: white;
    cursor: pointer;
}

#btn-student-login {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.registration-form-container {
    position: absolute;
    right: -100%; /* İlk başta görünmemesi için sağ dışına çıkarıyoruz */
    top: 50vh;
    width: 400px;
    height: fit-content;
    background-color: white;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    z-index: 1000;
}

.registration-form-container.show {
    right: 27vw; /* Butona tıklanınca sağa kayarak görünür olacak */
}

.registration-form-container2 {
    position: absolute;
    right: -100%; /* İlk başta görünmemesi için sağ dışına çıkarıyoruz */
    top: 40vh;
    width: 400px;
    height: fit-content;
    background-color: white;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    z-index: 1000;
}

.registration-form-container2.show {
    right: 30vw; /* Butona tıklanınca sağa kayarak görünür olacak */
}

.navbar-office {
    border-bottom: 1px solid;
}

.instructor-page-photo {
    width: 100%;
}

.instructor-img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: fill;
}