<!DOCTYPE html>
<html lang="tr"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Yeni Yüzyıl Üniversitesi Öğretim Görevlisi Buse Koca</title>
    <link href="https://test.talktoweb.com/CrmProject/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/Navbar/Css/Navbar.css" rel="stylesheet">
<body>
<div id="page-content" class="site">
    <div id="content" class="site-content">
        <header id="header-cont" class="header sticky-top"></header>
        <div class="whatsapp">
            <a href="https://wa.me/5456688801" target="_blank" class="btn btn-success btn-circle" id="whatsappButton">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Öğretim Görevlisi Buse Koca</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 upcoming-webinar-section">
    <div class="row align-items-flex-start">
        <div class="col-lg-5">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zwp3enYqLM0?si=a6n4WaymW79_d3Hl&amp;start=4&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-lg-4">
            <h2 class="info-title">Yeni Yüzyıl Üniversitesi Öğretim Görevlisi Buse Koca</h2>
            <p class="info-text mb-4">
                Grafik Tasarım Uzmanlığı Sertifika Programımıza katılan akademisyen Buse Koca, Talk to Web serüvenini ve aldığı eğitimi anlatıyor.<br><br>
    
                Photoshop, Illustrator ve InDesign eğitimi alarak portfolyonuzu oluşturabilir, ister Freelance isterseniz de kurumsal şirketlerde grafik tasarım uzmanı olarak çalışabilirsiniz.<br><br>
            
                Kariyerinizi tasarlamak için bize ulaşın.<br><br>
            
                <b>Türkiye İletişim: <a href="tel:+905456688801">0545 668 88 01</a></b></p>
        </div>
        <div class="col-lg-3 d-flex justify-content-center d-none d-sm-block no-padding">
                    <div class="card p-3">
                        <h4 class="info-title mb-3">Biz Sizi Arayalım</h4>
                        <form id="contactForm">
                            <div class="mb-3">
                                <input type="text" class="form-control custom-input" id="nameInput"
                                       placeholder="Ad Soyad" required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control custom-input" id="phoneInput"
                                       placeholder="Telefon" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary custom-button">Gönder</button>
                            </div>
                            <div id="successMessage" class="mt-3 text-success" style="display: none;">
                                Başarılı! Bilgileriniz alınmıştır.
                            </div>
                        </form>
                    </div>
                </div>
    </div>
    <div class="row video-student">
        <div class="col mb-4 text-left">
            <figure class="wp-caption">
                <a href="https://test.talktoweb.com/kariyerini-degistiren-mine-tastan">
                    <img src="https://talktoweb.com/wp-content/uploads/2024/05/mine-tastan-1.webp" alt="Mine Taştan" class="img-fluid rounded">
                </a>
                <figcaption class="wp-caption-text">
                    Kariyerini Değiştiren Mine Taştan
                </figcaption>
            </figure>
        </div>
        <div class="col mb-4 text-left">
            <figure class="wp-caption">
                <a href="https://test.talktoweb.com/dijital-gocebe-ogrencimiz-tufan-ozkan">
                    <img src="https://talktoweb.com/wp-content/uploads/2024/06/tufan-ozkan.webp" alt="Tufan Özkan" class="img-fluid rounded">
                </a>
                <figcaption class="wp-caption-text">
                    Dijital Göçebe Öğrencimiz Tufan Özkan
                </figcaption>
            </figure>
        </div>
        <div class="col mb-4 text-left">
            <figure class="wp-caption">
                <a href="https://test.talktoweb.com/mae-universitesi-ogretim-gorevlisi-serife-sahin-ozcan">
                    <img src="https://talktoweb.com/wp-content/uploads/2024/05/serife_sahin_ozcan.webp" alt="Şerife Şahin Özcan" class="img-fluid rounded">
                </a>
                <figcaption class="wp-caption-text">
                    MAE Üniversitesi Öğretim Görevlisi Şerife Şahin Özcan
                </figcaption>
            </figure>
        </div>
        <div class="col mb-4 text-left">
            <figure class="wp-caption">
                <a href="https://test.talktoweb.com/isvicrede-yasayan-freelance-tasarimci-ayşe-boz">
                    <img src="https://talktoweb.com/wp-content/uploads/2024/05/ayse-boz.webp" alt="Ayşe Boz" class="img-fluid rounded">
                </a>
                <figcaption class="wp-caption-text">
                    İsviçre'de Yaşayan Freelance Tasarımcı Ayşe Boz
                </figcaption>
            </figure>
        </div>
        <div class="col mb-4 text-left">
            <figure class="wp-caption">
                <a href="https://test.talktoweb.com/muhasebeciligi-birakip-tasarimci-olan-sena-gunduz">
                    <img src="https://talktoweb.com/wp-content/uploads/2024/05/sena-gunduz.webp" alt="Sena Gündüz" class="img-fluid rounded">
                </a>
                <figcaption class="wp-caption-text">
                    Muhasebeciliği Bırakıp Tasarımcı Olan Sena Gündüz
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row video-student">
        <div class="col mb-4 text-left">
            <figure class="wp-caption">
                <a href="https://test.talktoweb.com/grafik-tasarim-ogrencimiz-figen-esme">
                    <img src="https://talktoweb.com/wp-content/uploads/2024/06/figen-esme.webp" alt="Figen Eşme" class="img-fluid rounded">
                </a>
                <figcaption class="wp-caption-text">
                    Grafik Tasarım Öğrencimiz Figen Eşme
                </figcaption>
            </figure>
        </div>
        <div class="col mb-4 text-left">
            <figure class="wp-caption">
                <a href="https://test.talktoweb.com/sosyal-medya-uzmani-yesim-yalcin">
                    <img src="https://talktoweb.com/wp-content/uploads/2024/06/yesim-yalcin.webp" alt="Yeşim Yalçın" class="img-fluid rounded">
                </a>
                <figcaption class="wp-caption-text">
                    Sosyal Medya Uzmanı Yeşim Yalçın
                </figcaption>
            </figure>
        </div>
        <div class="col mb-4 text-left">
            <figure class="wp-caption">
                <a href="https://test.talktoweb.com/ev-hanimi-ogrencimiz-dilara-guven">
                    <img src="https://talktoweb.com/wp-content/uploads/2024/06/dilara-guven.webp" alt="Dilara Güven" class="img-fluid rounded">
                </a>
                <figcaption class="wp-caption-text">
                    Ev Hanımı Öğrencimiz Dilara Güven
                </figcaption>
            </figure>
        </div>
        <div class="col mb-4 text-left">
            <figure class="wp-caption">
                <a href="https://test.talktoweb.com/ev-hanimiyken-tasarimci-olan-erva-duymaz">
                    <img src="https://talktoweb.com/wp-content/uploads/2024/06/erva-duymaz.webp" alt="Erva Duymaz" class="img-fluid rounded">
                </a>
                <figcaption class="wp-caption-text">
                    Ev Hanımıyken Tasarımcı Olan Erva Duymaz
                </figcaption>
            </figure>
        </div>
        <div class="col mb-4 text-left">
            <figure class="wp-caption">
                <a href="https://test.talktoweb.com/kariyerini-bizimle-tasarlayan-seher-recber">
                    <img src="https://talktoweb.com/wp-content/uploads/2024/06/seher-recber.webp" alt="Seher Reçber" class="img-fluid rounded">
                </a>
                <figcaption class="wp-caption-text">
                    Kariyerini Bizimle Tasarlayan Seher Reçber
                </figcaption>
            </figure>
        </div>
    </div>
</div>

        <div class="container my-5 seo-section">
            <div class="row">
                <div class="col-lg">
                    <div class="seo-card p-4">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-info-circle-fill" style="font-size: 2rem; color: #6c757d;"></i>
                            <h6 class="info-title ms-3 mb-0">Talk to Web ile Geleceğin Uzmanlarını Yetiştiriyoruz</h6>
                        </div>
                        <p class="info-text">
                            Talk to Web Dijital Eğitim Merkezi, dijital alanlarda uzmanlaşmak isteyenlere yönelik geniş kapsamlı eğitim programları sunmaktadır. Grafik Tasarım Uzmanlığı, UI/UX Tasarım Uzmanlığı, Dijital Pazarlama ve Sosyal Medya Uzmanlığı, 3D Modelleme Uzmanlığı ve Web Tasarım Uzmanlığı gibi programlarımız, katılımcıların sektörlerinde ön plana çıkmalarını sağlayacak yetkinlikler kazanmalarına yardımcı olur.<br><br>
                
                            <b>Grafik Tasarım Uzmanlığı Sertifika Programı</b><br>
                            
                            Grafik Tasarım Uzmanlığı Sertifika Programı, temel grafik tasarım ilkelerinden başlayarak ileri tekniklere kadar uzanan kapsamlı bir müfredat sunar. Bu program, Adobe Photoshop, Illustrator ve InDesign gibi önde gelen tasarım yazılımlarını kapsamlı bir şekilde öğretir. Renk teorisi, tipografi, çizgi ve renk kullanımı gibi konular üzerinde durulurken, katılımcılar yaratıcı ve profesyonel tasarımlar oluşturmayı öğrenirler.<br><br>
                            
                            <b>UI/UX Tasarım Uzmanlığı Eğitimi</b><br>
                            
                            UI/UX Tasarım Uzmanlığı Eğitimi, kullanıcı deneyimi (UX) ve kullanıcı arayüzü (UI) tasarımı konularında derinlemesine bilgi edinmek isteyenler için idealdir. Kullanıcı odaklı tasarım prensipleri, wireframing, prototipleme, kullanıcı testleri ve araştırmaları gibi konular işlenir. Katılımcılar, Figma ve Adobe XD gibi popüler araçları kullanarak etkili ve kullanıcı dostu arayüzler oluşturmayı öğrenirler.<br><br>
                            
                            <b>Dijital Pazarlama ve Sosyal Medya Uzmanlığı Eğitimi</b><br>
                            
                            Dijital Pazarlama ve Sosyal Medya Uzmanlığı Eğitimi, dijital pazarlama stratejileri ve sosyal medya yönetimi konularında kapsamlı bilgi sağlar. SEO (Arama Motoru Optimizasyonu), SEM (Arama Motoru Pazarlaması), sosyal medya stratejileri, içerik pazarlaması ve e-posta pazarlaması gibi temel konular öğretilir. Katılımcılar, dijital pazarlama kampanyalarını nasıl planlayacaklarını, uygulayacaklarını ve analiz edeceklerini öğrenirler, bu da kariyerlerinde büyük bir avantaj sağlar.<br><br>
                            
                            <b>3D Modelleme Uzmanlığı Eğitimi</b><br>
                            
                            3D Modelleme Uzmanlığı Eğitimi, 3D modelleme ve animasyon konularında uzmanlaşmak isteyenlere yönelik hazırlanmıştır. Bu eğitimde, Blender, Autodesk Maya ve ZBrush gibi yazılımlar kullanılarak 3D modelleme, karakter tasarımı, doku ve ışıklandırma teknikleri öğretilir. Katılımcılar, endüstriyel tasarım, oyun tasarımı ve animasyon gibi alanlarda kullanılabilecek beceriler kazanırlar.<br><br>
                            
                            <b>Web Tasarım Uzmanlığı Eğitimi</b><br>
                            
                            Web Tasarım Uzmanlığı Eğitimi, modern ve kullanıcı dostu web siteleri tasarlamak isteyenler için kapsamlı bir eğitim programı sunar. HTML, CSS, JavaScript gibi temel web teknolojilerinin yanı sıra, UX ve UI tasarımı konuları da kapsanır. Katılımcılar, web sitelerini nasıl oluşturacaklarını ve optimize edeceklerini öğrenirler. Ayrıca, WordPress ve diğer popüler web geliştirme platformları hakkında bilgi sahibi olurlar.<br><br>
                            
                            <b>Eğitimin Avantajları</b><br>
                            
                            Talk to Web Dijital Eğitim Merkezi’nin eğitim programları, katılımcılara güncel bilgi ve beceriler kazandırmayı hedefler. Her bir eğitim, alanında uzman eğitmenler tarafından verilir ve pratik yaparak öğrenme imkanı sunar. Eğitimlerin sonunda katılımcılar, uluslararası geçerliliği olan sertifikalar ile sektörde fark yaratırlar.<br><br>
                            
                            <b>Katılım Şartları</b><br>
                            
                            Grafik tasarım, UI/UX tasarım, dijital pazarlama, 3D modelleme ve web tasarım alanlarına ilgi duyan ve bu alanlarda kariyer yapmak isteyen tasarımcılar, proje yöneticileri, ürün yöneticileri, girişimciler, araştırmacılar, reklamcılar ve front-end developerlar TalkToWeb’in eğitim programlarına katılabilirler. Katılım için önceden bilgi sahibi olma şartı aranmaz.<br><br>
                            
                            <b>Sonuç</b><br>
                            
                            Talk to Web Dijital Eğitim Merkezi, katılımcılara dijital dünyada başarılı olmaları için gerekli bilgi ve becerileri kazandırır. Grafik tasarım, UI/UX tasarım, dijital pazarlama, 3D modelleme ve web tasarım gibi alanlarda sunduğumuz eğitimler, katılımcıların kariyerlerinde önemli adımlar atmalarını sağlar. Talk to Web ile kariyerinizi tasarlayabilir ve başarılı olabilirsiniz. Siz de dijital dünyada kendinizi geliştirmek ve kariyerinizde fark yaratmak istiyorsanız, Talk to Web’in sunduğu eğitim programlarına katılabilirsiniz.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer-cont"></footer>

<script src="https://test.talktoweb.com/CrmProject/node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/js/bootstrap.bundle.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/node_modules/fontawesome/js/all.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/Navbar/Js/Navbar.js"></script>
</body></html>