<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blog</title>
    <link href="https://test.talktoweb.com/CrmProject/css/bootstrap.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/Navbar/Css/Navbar.css" rel="stylesheet">
</head>
<body>
<div id="page-content" class="site">
    <div id="content" class="site-content">
        <header id="header-cont" class="header sticky-top">
        </header>
        <div class="whatsapp">
            <a href="https://wa.me/5456688801" target="_blank" class="btn btn-success btn-circle"
                id="whatsappButton">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Blog</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 blog-section">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class=row id="blogCards">
                        
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="side-content">
                        <div class="card border-0 mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Son Gönderiler</h5>
                                <ul id="recentBlogContainer" class="list-unstyled">
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="card border-0 mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Kategoriler</h5>
                                <ul class="list-unstyled" id="categoryContainer">
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="card border-0 mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Etiketler</h5>
                                <div class="tag-cloud">
                                    <a href="#" class="tag-cloud-link">Derin Öğrenme</a>
                                    <a href="#" class="tag-cloud-link">Etkin Zaman Yönetimi</a>
                                    <a href="#" class="tag-cloud-link">Makine Öğrenimi</a>
                                    <a href="#" class="tag-cloud-link">Psikoloji</a>
                                    <a href="#" class="tag-cloud-link">Stres</a>
                                    <a href="#" class="tag-cloud-link">Stresle Başa
                                        Çıkma</a>
                                    <a href="#" class="tag-cloud-link">Tasarım</a>
                                    <a href="#" class="tag-cloud-link">Veri Madenciliği</a>
                                    <a href="#" class="tag-cloud-link">Yapay Zeka</a>
                                    <a href="#" class="tag-cloud-link">Yazılım</a>
                                    <a href="#" class="tag-cloud-link">Çalışma Psikolojisi</a>
                                    <a href="#" class="tag-cloud-link">İş Hayatı</a>
                                    <a href="#" class="tag-cloud-link">İş Uygulamaları</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer-cont"></footer>

<script src="https://test.talktoweb.com/CrmProject/js/bootstrap.bundle.js"></script>
<script src="https://test.talktoweb.com/CrmProject/node_modules/fontawesome/js/all.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/Navbar/Js/Navbar.js"></script>
<script src="https://test.talktoweb.com/CrmProject/Navbar/Js/AllBlogs.js"></script>
</body>
</html>