{% extends "frontend/base.html" %}
{% load  static %}
{% load l10n %}

{% block title %}<title>Kurumsal Eğitim Çözümleri | Bilgi Güvenliği Politikamız</title>{% endblock %}

{% block css %}
    <style>

    </style>

{% endblock %}
{% block main_content %}
    <div id="content" class="site-content">
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Bilgi Güvenliği Politikamız</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="info">
                <div class="row">
                    <div class="col-12">
                        <h1 class="info-subtitle">Bilgi Güvenliği Politikamız</h1>
                        <p class="info-text">
                            Talk to Web olarak, müşterilerimizin ve iş ortaklarımızın hassas bilgilerinin korunmasını
                            büyük bir ciddiyetle ele alıyoruz. Bu nedenle, bilgi güvenliği konusundaki taahhüdümüzü
                            açıkça ifade eden bir bilgi güvenliği politikası oluşturduk.
                        </p>

                        <h2 class="info-subtitle">1. Bilgi Güvenliği Taahhüdü</h2>
                        <p class="info-text">
                            Talk to Web olarak, müşteri bilgilerinin, iş sırlarının ve diğer hassas verilerin
                            gizliliğini ve güvenliğini sağlama taahhüdümüzü en üst düzeyde tutuyoruz.
                        </p>

                        <h2 class="info-subtitle">2. Bilgi Varlıklarının Korunması</h2>
                        <p class="info-text">
                            Tüm bilgi varlıklarını etkin bir şekilde koruma amacıyla uygun güvenlik önlemlerini
                            alıyoruz. Bu, fiziksel güvenlikten dijital veri korumaya kadar bir dizi güvenlik önlemini
                            içerir.
                        </p>

                        <h2 class="info-subtitle">3. Veri Gizliliği</h2>
                        <p class="info-text">
                            Müşteri bilgilerinin gizliliği ve gizlilik haklarına saygı gösterme konusundaki
                            kararlılığımızı koruyoruz. Veri toplama, depolama ve işleme süreçlerimizi güvence altına
                            alıyoruz.
                        </p>

                        <h2 class="info-subtitle">4. Yetkilendirme ve Erişim Kontrolleri</h2>
                        <p class="info-text">
                            Bilgilere sadece yetkili personel erişebilir. Erişim kontrolleri ve yetkilendirme
                            mekanizmaları, bilgi güvenliğinin sağlanmasına yardımcı olur.
                        </p>

                        <h2 class="info-subtitle">5. Eğitim ve Farkındalık</h2>
                        <p class="info-text">
                            Personelimizin bilgi güvenliği konularında eğitim almasını sağlıyor ve bilinçlendirme
                            faaliyetlerini destekliyoruz. Bilgi güvenliği en iyi uygulamalarını benimsemelerine yardımcı
                            oluyoruz.
                        </p>

                        <h2 class="info-subtitle">6. İzleme ve Olay Yanıtı</h2>
                        <p class="info-text">
                            Bilgi güvenliği olaylarını izliyor ve olası tehditlere karşı hızlı bir şekilde yanıt
                            veriyoruz. Olayları tespit etmek ve etkilerini en aza indirmek için sürekli çaba sarf
                            ediyoruz.
                        </p>

                        <h2 class="info-subtitle">7. Yasa ve Düzenlemelere Uyumluluk</h2>
                        <p class="info-text">
                            Tüm ilgili yasal düzenlemelere ve bilgi güvenliği standartlarına uyma konusundaki
                            taahhüdümüzü sürdürüyoruz.
                        </p>

                        <h2 class="info-subtitle">8. Sürekli İyileştirme</h2>
                        <p class="info-text">
                            Bilgi güvenliği politikamızı ve uygulamalarımızı sürekli olarak gözden geçiriyoruz ve
                            iyileştirme fırsatlarını değerlendiriyoruz.
                        </p>

                        <p class="info-text">
                            Talk to Web olarak, bilgi güvenliği konusundaki bu politika, müşterilerimize ve iş
                            ortaklarımıza duyduğumuz saygının ve taahhüdün bir ifadesidir. Bilgi güvenliğini korumak
                            için gereken tüm önlemleri almayı ve bu politikayı etkin bir şekilde uygulamayı taahhüt
                            ediyoruz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}