<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title id="site-title"></title>
    <link href="https://test.talktoweb.com/CrmProject/css/bootstrap.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/Navbar/Css/Navbar.css" rel="stylesheet">
</head>
<body>
<div id="page-content" class="site">
    <div id="content" class="site-content">
        <header id="header-cont" class="header sticky-top">
        </header>
        <div class="whatsapp">
            <a href="https://wa.me/5456688801" target="_blank" class="btn btn-success btn-circle"
                id="whatsappButton">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p id="banner-title">Örnek Blog</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 blog-section">
            <div class="row justify-content-center">
                <div class="col-md-9 mb-4">
                    <article class="blog-post">
                        <div class="blog-post-image mb-4">
                            <img id="blog-img" src=""
                                 class="img-fluid rounded" alt="Stresle Başa Çıkma">
                        </div>

                        <div class="d-flex align-items-center text-muted small mb-2">
                            <i class="bi bi-person me-1"></i>
                            <span class="me-3"></span>
                            <i class="bi bi-calendar-event me-1"></i>
                            <span class="me-3"></span>
                        </div>

                        <div class="info-subtitle mb-4" id="main-title">
                        </div>

                        <div class="info-text" id="blog-content">

                            
                        </div>
                        <div class="tag-cloud">
                            <a href="#" class="tag-cloud-link">Çalışma Psikolojisi</a>
                            <a href="#" class="tag-cloud-link">İş Hayatı</a>
                            <a href="#" class="tag-cloud-link">Psikoloji</a>
                            <a href="#" class="tag-cloud-link">Stres</a>
                            <a href="#" class="tag-cloud-link">Stresle Başa Çıkma</a>
                        </div>
                    </article>
                    <div class="next-blog d-flex justify-content-end align-items-center my-5">
                        <div class="text-end">
                            <a href="#" class="info-subtitle text-decoration-none d-block">Sonraki Yazı</a>
                            <a href="#" class="card-title text-decoration-none d-block">OLUMLAMA VE KABULLENMENİN
                                SİHRİ</a>
                        </div>
                        <i class="bi bi-chevron-right big-chevron"></i>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="side-content">
                        <div class="card border-0 mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Son Gönderiler</h5>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-3 border-bottom pb-3">
                                        <div class="me-3">
                                            <a href="#">
                                                <img src="https://talktoweb.com/wp-content/uploads/2023/12/sam_altman-150x150.webp"
                                                     class="img-fluid rounded" alt="Post Thumbnail" width="71"
                                                     height="71">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#" class="text fw-bold">DARBEYİ PÜSKÜRTEN CEO: SAM ALTMAN</a>
                                            <p class="text-muted mb-0">8 Ara, 2023</p>
                                        </div>
                                    </li>
                                    <li class="d-flex mb-3 border-bottom pb-3">
                                        <div class="me-3">
                                            <a href="#">
                                                <img src="https://talktoweb.com/wp-content/uploads/2023/11/tasarim-ve-yazilim-dunyasinda-isbirligi-150x150.png"
                                                     class="img-fluid rounded" alt="Post Thumbnail" width="71"
                                                     height="71">
                                            </a>
                                        </div>
                                        <div>
                                            <a href="#" class="text fw-bold">TASARIM VE YAZILIM DÜNYASINDA İŞ
                                                BİRLİĞİ</a>
                                            <p class="text-muted mb-0">3 Kas, 2023</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card border-0 mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Kategoriler</h5>
                                <ul class="list-unstyled">
                                    <li class="mb-3">
                                        <a href="#" class="text-categories text-decoration-none">İş Psikolojisi</a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="#" class="text-categories text-decoration-none">Yapay Zeka</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card border-0 mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Etiketler</h5>
                                <div class="tag-cloud">
                                    <a href="#" class="tag-cloud-link">Derin Öğrenme</a>
                                    <a href="#" class="tag-cloud-link">Etkin Zaman Yönetimi</a>
                                    <a href="#" class="tag-cloud-link">Makine Öğrenimi</a>
                                    <a href="#" class="tag-cloud-link">Psikoloji</a>
                                    <a href="#" class="tag-cloud-link">Stres</a>
                                    <a href="#" class="tag-cloud-link">Stresle Başa
                                        Çıkma</a>
                                    <a href="#" class="tag-cloud-link">Tasarım</a>
                                    <a href="#" class="tag-cloud-link">Veri Madenciliği</a>
                                    <a href="#" class="tag-cloud-link">Yapay Zeka</a>
                                    <a href="#" class="tag-cloud-link">Yazılım</a>
                                    <a href="#" class="tag-cloud-link">Çalışma Psikolojisi</a>
                                    <a href="#" class="tag-cloud-link">İş Hayatı</a>
                                    <a href="#" class="tag-cloud-link">İş Uygulamaları</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer-cont"></footer>

<script src="https://test.talktoweb.com/CrmProject/node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/node_modules/fontawesome/js/all.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/js/bootstrap.bundle.js"></script>
<script src="https://test.talktoweb.com/CrmProject/Navbar/Js/Navbar.js"></script>
<script src="https://test.talktoweb.com/CrmProject/Navbar/Js/Blog.js"></script>
</body>
</html>