{% extends "frontend/base.html" %}
{% load  static %}
{% load l10n %}

{% block title %}<title>Kurumsal Eğitim Çözümleri | Talk to Web ile Kariyerini Tasarla</title>{% endblock %}

{% block main_content %}
    <div class="container-fluid info-section">
        <div class="banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-title">
                            <p class="title">Kurumsal Eğitim Çözümleri</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="info">
            <div class="row">
                <div class="col-12">
                    <h1 class="info-subtitle">Kurumsal Eğitim Çözümleri</h1>
                    <p class="info-text">
                        Kurumsal dünya, hızla değişen bir dijital çağın içinde yer alıyor. Teknolojik gelişmeler,
                        rekabetçi pazarlar ve müşteri beklentilerinin sürekli evrilmesi, başarılı bir kurumsal
                        organizasyonun iş gücünün her zaman en son bilgi ve becerilere sahip olmasını gerektiriyor.
                        İşte bu noktada, Talk to Web Dijital Eğitim Merkezi olarak, kurumsal eğitim çözümleri ile
                        şirketlerinizi geleceğe hazırlıyoruz.
                        Talk to Web olarak, şirketlerin dijital dünyada başarılı olmalarına yardımcı olmak için
                        özelleştirilmiş kurumsal eğitim çözümleri sunuyoruz. Sunduğumuz uzmanlık alanları arasında
                        grafik tasarım, UI-UX tasarım, yazılım geliştirme, mobil uygulama geliştirme, sosyal medya
                        ve dijital pazarlama, mimari tasarım gibi bir dizi önemli alanda eğitimler bulunuyor.
                        <br>
                        <br>
                    </p>

                    <h2 class="info-subtitle">Neden Kurumsal Eğitimler?</h2>
                    <p class="info-text">
                        Dijital dünyada rekabet her geçen gün artıyor ve şirketlerin bu değişime ayak uydurması
                        gerekiyor.
                        Kurumsal eğitimler neden önemlidir?
                        <br>
                        <br>
                    </p>

                    <h2 class="info-subtitle">Rekabet Üstünlüğü:</h2>
                    <p class="info-text">
                        Ekip üyelerinin en son teknoloji ve trendler hakkında bilgi sahibi olmaları, şirketin
                        rekabetçi bir avantaj elde etmesine yardımcı olur.
                        <br>
                        <br>
                    </p>

                    <ol class="info-list">
                        <li>
                            <p><strong>Rekabet Üstünlüğü:</strong> Ekip üyelerinin en son teknoloji ve trendler
                                hakkında bilgi sahibi
                                olmaları, şirketin rekabetçi bir avantaj elde etmesine yardımcı olur.
                                <br>
                                <br>
                            </p>
                        </li>
                        <li>
                            <p><strong>Daha Etkili Çalışma:</strong> Dijital becerilere sahip çalışanlar, iş
                                süreçlerini daha verimli ve etkili bir şekilde yönetebilirler.
                                <br>
                                <br>
                            </p>
                        </li>
                        <li>
                            <p><strong>Müşteri Memnuniyeti:</strong> Daha iyi bir kullanıcı deneyimi sunan ürünler
                                ve hizmetler, müşteri memnuniyetini artırır.
                                <br>
                                <br>
                            </p>
                        </li>
                        <li>
                            <p><strong>Yenilik ve İnovasyon:</strong> Dijital olarak yetenekli bir ekip, yenilikçi
                                projeler ve çözümler geliştirmek için gereken becerilere sahiptir.
                                <br>
                                <br>
                            </p>
                        </li>
                    </ol>

                    <h2 class="info-subtitle">Talk to Web ile Neler Elde Edebilirsiniz?</h2>
                    <p class="info-text">
                        Talk to Web, şirketler için özel olarak tasarlanmış eğitim programları sunar.
                        <br>
                        <br>
                    </p>
                    <ol class="info-list">
                        <li>
                            <p><strong>Özelleştirilmiş Eğitimler:</strong> Talk to Web, her işletmenin ihtiyaçlarına
                                uygun eğitim programları tasarlar.
                                İşinizin gereksinimlerini anlayarak, özelleştirilmiş bir eğitim planı sunarız.
                                <br>
                                <br>
                            </p>
                        </li>
                        <li>
                            <p><strong>Uzman Eğitmenler:</strong> Alanında uzman eğitmenlerimiz, çalışanlarınıza en
                                iyi öğrenme deneyimini sunar.
                                Hepsi kendi alanlarında deneyimli ve uzmandır. Sektörün liderleri ile işbirliği
                                yaparak en son trendleri ve en iyi uygulamaları sunarız.
                                <br>
                                <br>
                            </p>
                        </li>
                        <li>
                            <p><strong>Pratik Deneyim:</strong> Teorik bilgiyi pratik uygulamalarla birleştirerek,
                                öğrenmeyi daha etkili hale getiriyoruz.
                                <br>
                                <br>
                            </p>
                        </li>
                        <li>
                            <p><strong>Sürekli Destek:</strong> Eğitimler sona erdikten sonra bile, şirketinizin
                                ihtiyaçlarını karşılamak için yanınızdayız.
                                <br>
                                <br>
                            </p>
                        </li>
                        <li>
                            <p><strong>Başarı Garantisi:</strong> Talk to Web ile çalışarak, şirketinizin dijital
                                hedeflerine ulaşmasını sağlama konusundaki taahhüdümüzü görmüş olacaksınız.
                                <br>
                                <br>
                                <br>
                            </p>
                        </li>
                    </ol>

                    <h2 class="info-subtitle">Çevrimiçi Eğitim Seçenekleri:</h2>
                    <p class="info-text">
                        Talk to Web, esnek çevrimiçi eğitim seçenekleri sunar. İş gücünüzü rahatsız etmeden,
                        herkesin erişebileceği eğitimler sunarız.
                        <br>
                        <br>
                    </p>

                    <h2 class="info-subtitle">Pratik Odaklı Eğitim:</h2>
                    <p class="info-text">
                        Kurumsal eğitimlerimiz, teorik bilgiyi gerçek dünya uygulamaları ile birleştirir.
                        Katılımcılarımız, öğrendikleri bilgileri hemen kullanmaya başlayabilirler.
                        <br>
                        <br>
                    </p>

                    <h2 class="info-subtitle">Sürekli Destek:</h2>
                    <p class="info-text">
                        Eğitim sonrası destek sağlarız. Katılımcılarımızın uygulama aşamasında karşılaştıkları
                        zorlukları aşmalarına yardımcı oluruz.
                        <br>
                        <br>
                        <br>
                    </p>

                    <h2 class="info-subtitle">Talk to Web ile İşinizin Geleceğini Şekillendirin</h2>
                    <p class="info-text">
                        Talk to Web Dijital Eğitim Merkezi olarak, işletmenizin başarısını desteklemek ve büyümesini
                        sağlamak için buradayız.
                        Kurumsal eğitimlerimizle çalışanlarınızın bilgi ve becerilerini geliştirin, rekabet avantajı
                        elde edin ve geleceğin iş dünyasına hazırlıklı olun.
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid numaralar-section-static">
        <div class="container">
            <div class="row">
                <div class="col-7">

                </div>
                <div class="col-1"></div>
                <div class="col-4 stats-form">
                    <div class="card p-4">
                        <h4 class="mb-4">Biz Sizi Arayalım</h4>
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control custom-input" placeholder="Ad Soyad"
                                       required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control custom-input" placeholder="Telefon" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary custom-button">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5 yorumlar-section">
            <h4 class="text-center mb-4">Öğrencilerimiz hakkımızda ne düşünüyor?</h4>
            <div class="row">
                <div id="testimonialCarousel" class="carousel slide">
                    <div class="testimonial-carousel">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">İyi Ki Varsınız</h6>
                                    <p>"Sayenizde artık benim de bir işim var. Ne söylesem, nasıl teşekkür etsem
                                        azdır."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>

                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/31-1.jpg"
                                         alt="Rashat Hacizade" class="testimonial-image">
                                    <div class="testimonial-name">Rashat Hacizade</div>
                                    <div class="testimonial-profession">Grafik Tasarım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Sonunda Buldum!</h6>
                                    <p>"1 yıldır UX-UI eğitimi alabileceğim bir yer arıyordum. Sizinle mesleğimi elime
                                        aldım. Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/abdulkadir_yilmaz.jpg"
                                         alt="Abdulkadir Yılmaz" class="testimonial-image">
                                    <div class="testimonial-name">Abdulkadir Yılmaz</div>
                                    <div class="testimonial-profession">UX-UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Çok Memnun Kaldım</h6>
                                    <p>"Üniversitede öğretilmeyen konuların tümünü burada öğrendim. Harika bir akademi,
                                        teşekkürler :)"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/baransel_akkus.jpg"
                                         alt="Baransel Akkuş" class="testimonial-image">
                                    <div class="testimonial-name">Baransel Akkuş</div>
                                    <div class="testimonial-profession">UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Teşekkürler Talk to Web 🙂</h6>
                                    <p>"Üniversitede almam gereken eğitimi sizden aldım. Çok şükür bir işe girebildim.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/esra_elma.jpg"
                                         alt="Esra Elma" class="testimonial-image">
                                    <div class="testimonial-name">Esra Elma</div>
                                    <div class="testimonial-profession">Creative Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Üniversite gibi Akademi</h6>
                                    <p>"Tasarım alanında eksiklerim vardı, aldığım eğitim sayesinde artık daha rahatım.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/ilker_metehan.jpg"
                                         alt="İlker Metehan" class="testimonial-image">
                                    <div class="testimonial-name">İlker Metehan</div>
                                    <div class="testimonial-profession">Web Yazılım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğitimler Çok Güzeldi</h6>
                                    <p>"Dövmelerimi geliştirmek için grafik tasarım eğitimi aldım ve şu an çok daha iyi
                                        çizimler yapabiliyorum."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/sena_uyanik.png"
                                         alt="Sena Uyanık" class="testimonial-image">
                                    <div class="testimonial-name">Sena Uyanık</div>
                                    <div class="testimonial-profession">Dövme Sanatçısı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Herkese Tavsiye Ediyorum</h6>
                                    <p>"Okulda göremeyeceğiniz konuları öğrenebilir, webinarlar ile de cv'nizi
                                        geliştirebilirsiniz. Memnun kaldım."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/esra_yagisan.jpg"
                                         alt="Esra Yağışan" class="testimonial-image">
                                    <div class="testimonial-name">Esra Yağışan</div>
                                    <div class="testimonial-profession">Bilgisayar Mühendisliği Öğrencisi</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğlenerek Öğrendim</h6>
                                    <p>"Sadece öğrenmek değil, keyifli bir eğitim almakta benim için önemliydi.
                                        Sağolun"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/serenay_colak.jpg"
                                         alt="Serenay Çolak" class="testimonial-image">
                                    <div class="testimonial-name">Serenay Çolak</div>
                                    <div class="testimonial-profession">Art Designer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


