<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gizlilik ve Çerez Politikamız</title>
    <link href="https://test.talktoweb.com/CrmProject/css/bootstrap.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/Navbar/Css/Navbar.css" rel="stylesheet">
</head>
<body>
<div id="page-content" class="site">
    <div id="content" class="site-content">
        <header id="header-cont" class="header sticky-top">
        </header>
        <div class="whatsapp">
            <a href="https://wa.me/5456688801" target="_blank" class="btn btn-success btn-circle"
                id="whatsappButton">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Gizlilik ve Çerez Politikamız</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="info">
                <div class="row">
                    <div class="col">
                        <h1 class="info-subtitle">Gizlilik ve Çerez Politikamız</h1>
                        <p class="info-text">
                            TALK TO WEB DİJİTAL EĞİTİM MERKEZİ İNTERNET SİTESİ GİZLİLİK VE ÇEREZ POLİTİKASI
                        </p>
                        <p class="info-text">
                            TALK TO WEB DİJİTAL EĞİTİM MERKEZİ (talktoweb) tarafından işletilen (www.talktoweb.com)
                            internet sitesi ziyaret edenlerin (<strong>Veri Sahibi</strong>) gizliliğini koruma önde
                            gelen ilkelerimiz arasındadır. İnternet Sitesi Gizlilik ve Çerez Politikası (<strong>Politika</strong>)
                            ile; veri sahiplerinin kişisel verilerinin işlenmesi, çerez politikası ve internet sitesi
                            gizlilik politikası hakkında açıklamalar yapılmaktadır.
                        </p>

                        <h2 class="info-subtitle">1. Veri Sahiplerinin Kişisel Verilerinin İşlenmesi</h2>
                        <p class="info-text">
                            İnternet sitemizi ziyaret etmeniz sırasında elde edilen kişisel veriler, Talk to Web Dijital
                            Eğitim Merkezi tarafından 6698 sayılı Kişisel Verilerin Korunması Kanunu
                            (<strong>Kanun</strong>) uyarınca aşağıda belirlenen kapsamda işlenebilecektir. Kişisel
                            verilerinizin işlenmesine ilişkin detaylı bilgilere, (www.talktoweb.com) internet adresinden
                            ulaşabilirsiniz.
                        </p>

                        <h2 class="info-subtitle">2. Kişisel Verilerinizin İşlenme Amacı</h2>
                        <p class="info-text">
                            İnternet Sitemizi ziyaret etmeniz dolayısıyla elde edilen kişisel verileriniz aşağıda
                            sıralanan amaçlarla Talk to Web Dijital Eğitim Merkezi tarafından Kanun’un 5. ve 6.
                            maddelerine uygun olarak işlenebilecektir:
                        </p>
                        <ul class="info-list">
                            <li>Talk to Web Dijital Eğitim Merkezi tarafından yürütülen ticari faaliyetlerin
                                gerçekleştirilmesi için ilgili iş birimlerimiz tarafından gerekli çalışmaların yapılması
                                ve buna bağlı iş süreçlerinin yürütülmesi,
                            </li>
                            <li>Talk to Web Dijital Eğitim Merkezi tarafından sunulan ürün ve hizmetlerden ilgili
                                kişileri faydalandırmak için gerekli çalışmaların iş birimlerimiz tarafından yapılması
                                ve ilgili iş süreçlerinin yürütülmesi,
                            </li>
                            <li>Talk to Web Dijital Eğitim Merkezi tarafından sunulan ürün ve hizmetlerin ilgili
                                kişilerin beğeni, kullanım alışkanlıkları ve ihtiyaçlarına göre özelleştirilerek ilgili
                                kişilere önerilmesi ve tanıtılması için gerekli olan aktivitelerin planlanması ve
                                icrası.
                            </li>
                        </ul>

                        <h2 class="info-subtitle">3. Kişisel Verilerinizin Aktarıldığı Taraflar ve Aktarım Amacı</h2>
                        <p class="info-text">
                            İnternet sitemizi ziyaret etmeniz dolayısıyla elde edilen kişisel verileriniz, kişisel
                            verilerinizin işlenme amaçları doğrultusunda, iş ortaklarımıza, tedarikçilerimize kanunen
                            yetkili kamu kurumlarına ve özel kişilere Kanun’un 8. ve 9. maddelerinde belirtilen kişisel
                            veri işleme şartları ve amaçları kapsamında aktarılabilecektir.
                        </p>

                        <h2 class="info-subtitle">4. Kişisel Verilerinizin Toplanma Yöntemi ve Hukuki Sebebi</h2>
                        <p class="info-text">
                            Kimliğinizi belirli ya da belirlenebilir kılan her türlü bilgi “<strong>kişisel
                            veri</strong>”dir. İnternet sitemizi ziyaretiniz kapsamında kişisel verileriniz Kanun’da yer
                            alan veri işleme şartlarına uygun olarak İnternet Sitemizi ziyaret etmeniz dolayısıyla
                            teknik iletişim dosyaları olan çerezler (<em>cookies</em>) vasıtasıyla toplanmaktadır.
                        </p>

                        <h2 class="info-subtitle">5. Veri Sahiplerinin Hakları</h2>
                        <p class="info-text">
                            Veri sahibi olarak aşağıdaki haklara sahip olduğunuzu bildiririz:
                        </p>
                        <ul class="info-list">
                            <li>Kişisel verilerinizin işlenip işlenmediğini öğrenme,</li>
                            <li>Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,</li>
                            <li>Kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp
                                kullanılmadığını öğrenme,
                            </li>
                            <li>Yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü kişileri bilme,
                            </li>
                            <li>Kişisel verilerinizin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini
                                isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere
                                bildirilmesini isteme,
                            </li>
                            <li>Kanun’a ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen,
                                işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini
                                veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerinizin
                                aktarıldığı üçüncü kişilere bildirilmesini isteme,
                            </li>
                            <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle
                                aleyhinize bir sonucun ortaya çıkması durumunda buna itiraz etme,
                            </li>
                            <li>Kişisel verilerinizin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde
                                zararın giderilmesini talep etme.
                            </li>
                        </ul>

                        <h2 class="info-subtitle">6. Çerez Politikası Hakkında</h2>
                        <p class="info-text">
                            Bu Politika, çerezlerin ne olduğunu, türlerini, bunları nasıl kullandığımızı, çerez
                            tercihlerinin nasıl kontrol edileceğini açıklamaktadır. Kişisel verilerinizi nasıl
                            kullandığımız, sakladığımız hakkında bilgi edindikten sonra, istediğiniz zaman web
                            sitemizdeki <strong>Çerez Bildirimi’ndeki</strong> onayınızı değiştirebilir veya geri
                            çekebilirsiniz.
                        </p>
                        <p class="info-text">
                            İzniniz aşağıdaki alanlara uygulanır:
                        </p>
                        <ul class="info-list">
                            <li>talktoweb.com</li>
                            <li>google.com</li>
                            <li>facebook.com</li>
                            <li>twitter.com</li>
                            <li>instagram.com</li>
                            <li>linkedin.com</li>
                            <li>youtube.com</li>
                        </ul>

                        <h2 class="info-subtitle">7. Çerez Nedir?</h2>
                        <p class="info-text">
                            Çerezler, küçük bilgileri saklamak için kullanılan küçük metin dosyalarıdır. Web sitesi
                            tarayıcınıza yüklendiğinde, çerezler cihazınızda saklanır. Bu çerezler, web sitesinin düzgün
                            çalışmasını sağlamamıza, web sitesini daha güvenli hale getirmemize, daha iyi bir kullanıcı
                            deneyimi sunmamıza ve web sitesinin nasıl performans gösterdiğini ve neyin işe yaradığını ve
                            iyileştirilmesi gereken yerleri analiz etmemizi sağlar.
                        </p>
                        <p class="info-text">
                            İnternet sitemizden en verimli şekilde faydalanabilmeniz ve kullanıcı deneyiminizi
                            geliştirebilmek için Çerez kullanıyoruz. Çerez kullanılmasını tercih etmezseniz
                            tarayıcınızın ayarlarından çerezleri silebilir ya da engelleyebilirsiniz. Ancak bunun
                            internet sitemizi kullanımınızı etkileyebileceğini hatırlatmak isteriz. Tarayıcınızdan çerez
                            ayarlarınızı değiştirmediğiniz sürece bu sitede çerez kullanımını kabul ettiğinizi
                            varsayacağız.
                        </p>

                        <h2 class="info-subtitle">8. Çerezleri Nasıl Kullanıyoruz?</h2>
                        <p class="info-text">
                            Web sitelerimizde kullanılan üçüncü taraf çerezleri, temel olarak web sitesinin nasıl
                            performans gösterdiğini, web sitemizle nasıl etkileşimde bulunduğunuzu, hizmetlerimizi
                            güvende tutmak, sizinle alakalı reklamlar sunmak ve hepsinde size daha iyi ve daha iyi bir
                            hizmet sunmak için kullanılır; Kullanıcı deneyimi ve web sitemizle gelecekteki
                            etkileşimlerinizi hızlandırmaya yardımcı olur.
                        </p>
                        <p class="info-text">
                            Çerezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza
                            veya ağ sunucusuna depolanan küçük metin dosyalarıdır.
                        </p>

                        <h2 class="info-subtitle">9. İnternet Sitemizde Çerez Kullanılmasının Başlıca Amaçları</h2>
                        <ul class="info-list">
                            <li>İnternet sitesinin işlevselliğini ve performansını arttırmak yoluyla sizlere sunulan
                                hizmetleri geliştirmek,
                            </li>
                            <li>İnternet Sitesini iyileştirmek ve İnternet Sitesi üzerinden yeni özellikler sunmak ve
                                sunulan özellikleri sizlerin tercihlerine göre kişiselleştirmek,
                            </li>
                            <li>İnternet Sitesinin, Sizin ve Talk to Web Dijital Eğitim Merkezi’nin hukuki ve ticari
                                güvenliğinin teminini sağlamak.
                            </li>
                        </ul>

                        <h2 class="info-subtitle">10. Ne Tür Çerezler Kullanıyoruz?</h2>
                        <p class="info-text">
                            Çevrimiçi hizmetlerin çoğu gibi, web sitemiz çerezler için bir dizi amaç için birinci ve
                            üçüncü taraf çerezleri kullanır. Birinci taraf çerezleri çoğunlukla web sitesinin doğru
                            şekilde çalışması için gereklidir ve kişisel olarak tanımlanabilir verilerinizin hiçbirini
                            toplamazlar. Temel: Sitemizin tüm işlevselliğini tecrübe edebilmeniz için bazı çerezler
                            zorunludur. Kullanıcı oturumlarını sürdürmemize ve güvenlik tehditlerini önlememize izin
                            veriyorlar. Kişisel bilgiler toplamaz veya saklamazlar. Örneğin, bu çerezler hesabınıza
                            giriş yapmanızı ve sepetinize ürün eklemenizi ve güvenli bir şekilde ödeme yapmanızı sağlar.
                        </p>
                        <p class="info-text">
                            İstatistikler: Bu çerezler, web sitesine gelen ziyaretçi sayısı, benzersiz ziyaretçi sayısı,
                            web sitesinin hangi sayfalarının ziyaret edildiği, ziyaretin kaynağı vb. bilgileri depolar.
                            Bu veriler, web sitesinin ne kadar iyi performans gösterdiğini ve analiz etmemize yardımcı
                            olur.
                        </p>
                        <p class="info-text">
                            Pazarlama: Web sitemiz reklam veriyor. Bu çerezler, size gösterdiğimiz reklamları sizin için
                            anlamlı olacak şekilde kişiselleştirmek için kullanılır. Bu çerezler ayrıca bu reklam
                            kampanyalarının verimliliğini takip etmemize yardımcı olur.
                        </p>
                        <p class="info-text">
                            Bu çerezlerde depolanan bilgiler, üçüncü taraf reklam sağlayıcıları tarafından size
                            tarayıcıdaki diğer web sitelerinde reklam göstermek için de kullanılabilir.
                        </p>
                        <p class="info-text">
                            İşlevsel: Bunlar, web sitemizdeki bazı önemli olmayan işlevlere yardımcı olan çerezlerdir.
                            Bu işlevler arasında videolar gibi içerik yerleştirme veya web sitesindeki içerikleri sosyal
                            medya platformlarında paylaşma yer alır.
                        </p>
                        <p class="info-text">
                            Tercihler: Bu çerezler ayarlarınızı kaydetmemize ve dil tercihleri gibi tarama
                            tercihlerinizi belirlememize yardımcı olur, böylece web sitesine gelecekteki
                            ziyaretlerinizde daha iyi ve verimli bir deneyime sahip olursunuz.
                        </p>

                        <h2 class="info-subtitle">11. Kullanılan Çerezler ve Ne Amaçla Kullanıldıkları</h2>
                        <table>
                            <thead>
                            <tr>
                                <th>ÇEREZ</th>
                                <th>AÇIKLAMA</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>name:</strong> BIGipServerpool_htb-cluster3 (expiration time: session)</td>
                                <td>Sunucu çerezi, sitemizin core fonksiyonunu sağlar. Sitenin kullanımında otomatik
                                    olarak etkinleştirilir. Bu çerez olmadan site doğru biçimde çalışmaz.
                                </td>
                            </tr>
                            <tr>
                                <td><strong>name:</strong> cfduid</td>
                                <td>Sayfa yüklemelerini hızlandırmak için kullanılır. Herhangi bir kullanıcı kimlik
                                    bilgisi içermemektedir.
                                </td>
                            </tr>
                            <tr>
                                <td><strong>ga</strong> (expiration time: 2 years) –</td>
                                <td>Performans çerezleri web sitemizin kullanımını izlemek için kullanılır.</td>
                            </tr>
                            <tr>
                                <td><strong>gid</strong> (expiration time: 24 hours) –</td>
                                <td>İnsanların web sitemizle nasıl etkileşimde bulunduğunu anlamanıza yardımcı olur.
                                </td>
                            </tr>
                            <tr>
                                <td><strong>_fbp</strong></td>
                                <td>Hedef belirleme ve reklam için kullanılır.</td>
                            </tr>
                            <tr>
                                <td><strong>_gcl_au</strong> (expiration time: 24/12/2019)</td>
                                <td>Hedef belirleme ve reklam için kullanılır.</td>
                            </tr>
                            </tbody>
                        </table>

                        <h2 class="info-subtitle">12. Çerez Tercihlerini Nasıl Kontrol Edebilirim?</h2>
                        <p class="info-text">
                            Buna ek olarak, farklı tarayıcılar web siteleri tarafından kullanılan çerezleri engellemek
                            ve silmek için farklı yöntemler sunar. Çerezleri engellemek / silmek için tarayıcınızın
                            ayarlarını değiştirebilirsiniz. Tanımlama bilgilerinin nasıl yönetileceği ve silineceği
                            hakkında daha fazla bilgi edinmek için <a href="http://www.allaboutcookies.org/"
                                                                      target="_blank" rel="noopener">www.allaboutcookies.org</a>
                            adresini ziyaret edebilirsiniz.
                        </p>

                        <h2 class="info-subtitle">13. İnternet Sitemizde Kullanılan Çerez Türleri</h2>
                        <table>
                            <thead>
                            <tr>
                                <th>ÇEREZ TÜRÜ</th>
                                <th>AÇIKLAMA</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Oturum Çerezleri (<em>Session Cookies</em>)</td>
                                <td>Oturum çerezleri ziyaretçilerimizin İnternet Sitesini ziyaretleri süresince
                                    kullanılan, tarayıcı kapatıldıktan sonra silinen geçici çerezlerdir. Bu tür
                                    çerezlerin kullanılmasının temel amacı ziyaretiniz süresince İnternet Sitesinin
                                    düzgün bir biçimde çalışmasının teminini sağlamaktır.
                                </td>
                            </tr>
                            <tr>
                                <td>Kalıcı Çerezler (<em>Persistent Cookies</em>)</td>
                                <td>Kalıcı çerezler İnternet Sitesinin işlevselliğini artırmak, ziyaretçilerimize daha
                                    hızlı ve iyi bir hizmet sunmak amacıyla kullanılan çerez türleridir. Bu tür çerezler
                                    tercihlerinizi hatırlamak için kullanılır ve tarayıcılar vasıtasıyla cihazınızda
                                    depolanır.
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <h2 class="info-subtitle">14. İnternet Sitemizde Kullanılan Çerezler</h2>
                        <table>
                            <thead>
                            <tr>
                                <th>ÇEREZ TÜRÜ</th>
                                <th>AÇIKLAMA</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Teknik Çerezler (<em>Technical Cookies</em>)</td>
                                <td>Teknik çerezler ile internet sitesinin çalışmasının sağlanmakta, internet sitesinin
                                    çalışmayan sayfaları ve alanları tespit edilmektedir.
                                </td>
                            </tr>
                            <tr>
                                <td>Otantikasyon Çerezleri (<em>Authentication Cookies</em>)</td>
                                <td>Ziyaretçiler, şifrelerini kullanarak internet sitesine giriş yapmaları durumunda, bu
                                    tür çerezler ile, ziyaretçinin internet sitesinde ziyaret ettiği her bir sayfada
                                    site kullanıcısı olduğu belirlenerek, kullanıcının her sayfada şifresini yeniden
                                    girmesi önlenir.
                                </td>
                            </tr>
                            <tr>
                                <td>Flash Çerezleri (<em>Flash Cookies)</em></td>
                                <td>İnternet sitesinde yer alan görüntü veya ses içeriklerini etkinleştirmek için
                                    kullanılan çerez türleridir.
                                </td>
                            </tr>
                            <tr>
                                <td>Kişiselleştirme Çerezleri (<em>Customization Cookies)</em>)</td>
                                <td>Kullanıcıların tercihlerini farklı internet sitesinin farklı sayfalarını ziyarette
                                    de hatırlamak için kullanılan çerezlerdir. Örneğin, seçmiş olduğunuz dil
                                    tercihinizin hatırlanması.
                                </td>
                            </tr>
                            <tr>
                                <td>Analitik Çerezler (<em>Analytical Cookies)</em>)</td>
                                <td>Analitik çerezler ile internet sitesini ziyaret edenlerin sayıları, internet
                                    sitesinde görüntülenen sayfaların tespiti, internet sitesi ziyaret saatleri,
                                    internet sitesi sayfaları kaydırma hareketleri gibi analitik sonuçların üretimini
                                    sağlayan çerezlerdir.
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <h2 class="info-subtitle">15. Çerezlerin Kullanımı Veri Sahipleri Tarafından Engellenebilir
                            Mi?</h2>
                        <p class="info-text">
                            Tarayıcınızın ayarlarını değiştirerek çerezlere ilişkin tercihlerinizi kişiselleştirme
                            imkanına sahipsiniz.
                        </p>
                        <table class="table custom-table">
                            <thead>
                            <tr>
                                <th>HİZMET SAĞLAYICI</th>
                                <th>ÇEREZ YÖNETİMİ</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Adobe Analytics</td>
                                <td><a href="http://www.adobe.com/uk/privacy/opt-out.html" target="_blank"
                                       rel="noopener">http://www.adobe.com/uk/privacy/opt-out.html</a></td>
                            </tr>
                            <tr>
                                <td>AOL</td>
                                <td>
                                    <a href="https://help.aol.com/articles/restore-security-settings-and-enable-cookie-settings-on-browser"
                                       target="_blank" rel="noopener">https://help.aol.com/articles/restore-security-settings-and-enable-cookie-settings-on-browser</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Google Adwords</td>
                                <td><a href="https://support.google.com/ads/answer/2662922?hl=en" target="_blank"
                                       rel="noopener">https://support.google.com/ads/answer/2662922?hl=en</a></td>
                            </tr>
                            <tr>
                                <td>Google Analytics</td>
                                <td><a href="https://tools.google.com/dlpage/gaoptout" target="_blank"
                                       rel="noopener">https://tools.google.com/dlpage/gaoptout</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Google Chrome</td>
                                <td><a href="http://www.google.com/support/chrome/bin/answer.py?hl=en&answer=95647"
                                       target="_blank" rel="noopener">http://www.google.com/support/chrome/bin/answer.py?hl=en&answer=95647</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Internet Explorer</td>
                                <td>
                                    <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies"
                                       target="_blank" rel="noopener">https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Mozilla Firefox</td>
                                <td><a href="http://support.mozilla.com/en-US/kb/Cookies" target="_blank"
                                       rel="noopener">http://support.mozilla.com/en-US/kb/Cookies</a></td>
                            </tr>
                            <tr>
                                <td>Opera</td>
                                <td><a href="http://www.opera.com/browser/tutorials/security/privacy/"
                                       target="_blank"
                                       rel="noopener">http://www.opera.com/browser/tutorials/security/privacy/</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Safari</td>
                                <td><a href="https://support.apple.com/kb/ph19214?locale=tr_TR" target="_blank"
                                       rel="noopener">https://support.apple.com/kb/ph19214?locale=tr_TR</a></td>
                            </tr>
                            </tbody>
                        </table>

                        <h2 class="info-subtitle">16. İnternet Sitesi Gizlilik Politikası’nın Yürürlüğü</h2>
                        <p class="info-text">
                            Bu Politika 15/10/2019 tarihinde yürürlüğe girmiştir. Politika’nın tümünün veya belirli
                            maddelerinin yenilenmesi halinde Politika’nın yürürlük tarihi revize edilecektir.
                        </p>
                        <p class="info-text">
                            Politika Talk to Web Dijital Eğitim Merkezi internet sitesinde (www.talktoweb.com)
                            yayımlanır ve kişisel veri sahiplerinin talebi üzerine ilgili kişilerin erişimine sunulur.
                        </p>
                        <p class="info-text">
                            Kişisel verilerinizin işlenmesine ilişkin detaylı bilgilere Talk to Web Dijital Eğitim
                            Merkezi Kişisel Verilerin Korunması ve İşlenmesi Politikası sayfasından ulaşabilirsiniz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid numaralar-section-static">
            <div class="container">
                <div class="row">
                    <div class="col-7">

                    </div>
                    <div class="col-1"></div>
                    <div class="col-4 stats-form">
                        <div class="card p-4">
                            <h4 class="mb-4">Biz Sizi Arayalım</h4>
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Ad Soyad"
                                           required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Telefon" required>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary custom-button">Gönder</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 yorumlar-section">
            <h4 class="text-center mb-4">Öğrencilerimiz hakkımızda ne düşünüyor?</h4>
            <div class="row">
                <div id="testimonialCarousel" class="carousel slide">
                    <div class="testimonial-carousel">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">İyi Ki Varsınız</h6>
                                    <p>"Sayenizde artık benim de bir işim var. Ne söylesem, nasıl teşekkür etsem
                                        azdır."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>

                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/31-1.jpg"
                                         alt="Rashat Hacizade" class="testimonial-image">
                                    <div class="testimonial-name">Rashat Hacizade</div>
                                    <div class="testimonial-profession">Grafik Tasarım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Sonunda Buldum!</h6>
                                    <p>"1 yıldır UX-UI eğitimi alabileceğim bir yer arıyordum. Sizinle mesleğimi elime
                                        aldım. Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/abdulkadir_yilmaz.jpg"
                                         alt="Abdulkadir Yılmaz" class="testimonial-image">
                                    <div class="testimonial-name">Abdulkadir Yılmaz</div>
                                    <div class="testimonial-profession">UX-UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Çok Memnun Kaldım</h6>
                                    <p>"Üniversitede öğretilmeyen konuların tümünü burada öğrendim. Harika bir akademi,
                                        teşekkürler :)"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/baransel_akkus.jpg"
                                         alt="Baransel Akkuş" class="testimonial-image">
                                    <div class="testimonial-name">Baransel Akkuş</div>
                                    <div class="testimonial-profession">UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Teşekkürler Talk to Web 🙂</h6>
                                    <p>"Üniversitede almam gereken eğitimi sizden aldım. Çok şükür bir işe girebildim.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/esra_elma.jpg"
                                         alt="Esra Elma" class="testimonial-image">
                                    <div class="testimonial-name">Esra Elma</div>
                                    <div class="testimonial-profession">Creative Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Üniversite gibi Akademi</h6>
                                    <p>"Tasarım alanında eksiklerim vardı, aldığım eğitim sayesinde artık daha rahatım.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/ilker_metehan.jpg"
                                         alt="İlker Metehan" class="testimonial-image">
                                    <div class="testimonial-name">İlker Metehan</div>
                                    <div class="testimonial-profession">Web Yazılım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğitimler Çok Güzeldi</h6>
                                    <p>"Dövmelerimi geliştirmek için grafik tasarım eğitimi aldım ve şu an çok daha iyi
                                        çizimler yapabiliyorum."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/sena_uyanik.png"
                                         alt="Sena Uyanık" class="testimonial-image">
                                    <div class="testimonial-name">Sena Uyanık</div>
                                    <div class="testimonial-profession">Dövme Sanatçısı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Herkese Tavsiye Ediyorum</h6>
                                    <p>"Okulda göremeyeceğiniz konuları öğrenebilir, webinarlar ile de cv'nizi
                                        geliştirebilirsiniz. Memnun kaldım."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/esra_yagisan.jpg"
                                         alt="Esra Yağışan" class="testimonial-image">
                                    <div class="testimonial-name">Esra Yağışan</div>
                                    <div class="testimonial-profession">Bilgisayar Mühendisliği Öğrencisi</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğlenerek Öğrendim</h6>
                                    <p>"Sadece öğrenmek değil, keyifli bir eğitim almakta benim için önemliydi.
                                        Sağolun"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/serenay_colak.jpg"
                                         alt="Serenay Çolak" class="testimonial-image">
                                    <div class="testimonial-name">Serenay Çolak</div>
                                    <div class="testimonial-profession">Art Designer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer-cont"></footer>

<script src="https://test.talktoweb.com/CrmProject/js/bootstrap.bundle.js"></script>
<script src="https://test.talktoweb.com/CrmProject/node_modules/fontawesome/js/all.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/Navbar/Js/Navbar.js"></script>
</body>
</html>