{% extends "frontend/base.html" %}
{% load  static %}
{% load l10n %}

{% block title %}<title>Kurumsal Eğitim Çözümleri | Talk to Web ile Kariyerini Tasarla</title>{% endblock %}

{% block main_content %}
    <div class="container egitim-section">
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <h1 class="mb-3 course-title d-md-none d-sm-block"></h1>
                <div class="card position-relative">
                    <img id="mainImage" src="{{ course_group.main_image.original }}"  class="card-img-top" alt="Main Image">

                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h1 class="course-title d-none d-md-block"></h1>
                        <div class="mb-4 card-text info">
                            <p class="card-text note">
                                    Not: Kontenjan sınırlıdır. Bilgi ve Kayıt için <span id="phoneNumber"><i
                                        class="fas fa-phone"></i> 0545 668 88 01</span> arayabilirsiniz.
                            </p>
                        </div>

                        <div class="instructor-info">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{ course_group.instructor.avatar.original }}" class="card-img-top" alt="Instructor Image"/>
                                </div>
                            </div>
                        </div>
                        <div id="dynamic-content"></div>
                    </div>
                </div>
            </div>
            <div class="kayit-ol-card d-none ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="card-image">
                                <img src="https://i.imgur.com/ufETbQJ.png" alt="Course Image" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-details">
                                <h5 class="card-title mb-1"></h5>
                                <p class="card-date mb-0"></p>
                                <span class="card-instructor-title">Eğitmenler:</span>
                                <p class="card-instructor mb-0"></p>
                            </div>
                        </div>
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <div class="card-action">
                                <button id="modal-button-2" class="btn btn-primary rounded-button">Kayıt Ol</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registrationModalLabel">Ön Kayıt Formu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registrationForm">
                        <div class="mb-3">
                            <label for="nameSurname" class="form-label">Ad Soyad</label>
                            <input type="text" class="form-control" id="nameSurname" required>
                        </div>
                        <div class="mb-3">
                            <label for="phoneKayit" class="form-label">Telefon</label>
                            <input type="text" class="form-control" id="phoneKayit" required>
                        </div>
                        <button type="submit" class="btn btn-success">Kayıt Ol</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5 tab-section">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="tab-overview nav-link active" data-toggle="tab" href="#tab-overview" role="tab" aria-selected="true"> İçerik</a>
            </li>
            <li class="nav-item">
                <a class="tab-curriculum nav-link" data-toggle="tab" href="#tab-curriculum" role="tab" aria-selected="false">Müfredat</a>
            </li>
            <li class="nav-item">
                <a class="tab-reviews nav-link" data-toggle="tab" href="#tab-faq" role="tab" aria-selected="false">S.S.S</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-seo" role="tabpanel" aria-labelledby="tab-description">
                <h1>Web tasarım ve Front-end Uzmanlığı</h1>
                <p>Web tasarım ve front-end geliştirme, günümüz dijital dünyasında büyük önem taşımaktadır. Kullanıcıların web sitenizi ziyaret ettiklerinde ilk dikkat ettikleri şey, sitenizin görsel ve işlevsel tasarımıdır. İyi bir web tasarımı, kullanıcı deneyimini artırarak ziyaretçilerin sitenizde daha uzun süre kalmasını sağlar ve dönüşüm oranlarınızı yükseltir.</p>

                <b>Web Tasarımın Önemi</b>

                <p>Web tasarım, sadece estetik bir görünüm sağlamakla kalmaz, aynı zamanda kullanıcı dostu ve erişilebilir bir yapı oluşturur. Kullanıcıların kolayca gezinebileceği, bilgileri hızlıca bulabileceği ve site üzerinde rahatça işlem yapabileceği bir tasarım, başarıya giden yolda kritik bir adımdır. İyi bir web tasarımı, markanızın online kimliğini yansıtır ve profesyonel bir izlenim bırakır.</p>

                <b>Front-End Geliştirme</b>

                <p>Front-end geliştirme, web sitenizin kullanıcılara görünen yüzünü oluşturur. HTML, CSS ve JavaScript gibi teknolojiler kullanılarak web sitenizin tasarımı hayata geçirilir. Bu teknolojiler, sitenizin hızlı, etkileşimli ve mobil uyumlu olmasını sağlar. Günümüzde mobil cihazlardan yapılan web trafiği, masaüstü cihazları geçmiş durumdadır. Bu nedenle, responsive tasarım ve mobil uyumluluk, front-end geliştirmede vazgeçilmez unsurlardır.</p>

                <b>Neden Profesyonel Web Tasarım ve Front-End Hizmetleri?</b>

                <p>Profesyonel web tasarım ve front-end hizmetleri, işletmenizin online varlığını güçlendirir. Uzman ekipler, sektördeki en son trendleri ve teknolojileri takip ederek, size modern ve etkileyici web siteleri sunar. Profesyonel hizmetler sayesinde, SEO uyumlu ve hızlı yüklenen bir web sitesine sahip olabilirsiniz. Bu da arama motorlarında daha üst sıralarda yer almanıza ve daha fazla organik trafik çekmenize yardımcı olur.Profesyonel web tasarım ve front-end hizmetleri, işletmenizin online varlığını güçlendirir. Uzman ekipler, sektördeki en son trendleri ve teknolojileri takip ederek, size modern ve etkileyici web siteleri sunar. Profesyonel hizmetler sayesinde, SEO uyumlu ve hızlı yüklenen bir web sitesine sahip olabilirsiniz. Bu da arama motorlarında daha üst sıralarda yer almanıza ve daha fazla organik trafik çekmenize yardımcı olur.</p>

                <b>Web Tasarımda Dikkat Edilmesi Gerekenler</b>

                <p>
                    •Kullanıcı Deneyimi (UX): Kullanıcıların site üzerinde rahatça gezinebilmesi için sade ve anlaşılır bir tasarım oluşturulmalıdır.<br>

                    •Hız ve Performans: Web sitenizin hızlı yüklenmesi, kullanıcıların siteyi terk etmemesi için kritiktir.<br>

                    •Mobil Uyumluluk: Tüm cihazlarda sorunsuz çalışacak şekilde responsive tasarımlar tercih edilmelidir.<br>

                    •SEO Uyumu: Arama motorlarında daha iyi performans gösterebilmek için SEO dostu içerik ve yapısal veriler kullanılmalıdır.
                </p>

                <b>Sonuç</b>

                <p>Web tasarım ve front-end geliştirme, dijital pazarlamada başarının anahtarlarıdır. İyi bir tasarım ve etkili bir front-end geliştirme stratejisi, kullanıcıların dikkatini çekmek ve onları müşteriye dönüştürmek için gereklidir. İşletmenizin dijital dünyada parlamasını istiyorsanız, profesyonel web tasarım ve front-end uzmanlığına yatırım yapmalısınız.</p>
            </div>
            <div class="tab-pane fade" id="tab-curriculum" role="tabpanel" aria-labelledby="tab-curriculum"></div>
            <div class="tab-pane fade" id="tab-faq" role="tabpanel" aria-labelledby="tab-faq"></div>
        </div>
    </div>
    <div class='container'>
        <div class="row video-student">
            <div class="col text-left">
                <figure class="wp-caption">
                    <a href="https://test.talktoweb.com/kariyerini-degistiren-mine-tastan">
                        <img src="https://talktoweb.com/wp-content/uploads/2024/05/mine-tastan-1.webp" alt="Mine Taştan" class="img-fluid rounded">
                    </a>
                    <figcaption class="wp-caption-text">
                        Kariyerini Değiştiren Mine Taştan
                    </figcaption>
                </figure>
            </div>
            <div class="col text-left">
                <figure class="wp-caption">
                    <a href="https://test.talktoweb.com/yeni-yuzyil-universitesi-ogretim-gorevlisi-buse-koca">
                        <img src="https://talktoweb.com/wp-content/uploads/2024/05/buse_koca-1.webp" alt="Buse Koca" class="img-fluid rounded">
                    </a>
                    <figcaption class="wp-caption-text">
                            Yeni Yüzyıl Üniversitesi Öğretim Görevlisi Buse Koca
                    </figcaption>
                </figure>
            </div>
            <div class="col text-left">
                <figure class="wp-caption">
                    <a href="https://test.talktoweb.com/dijital-gocebe-ogrencimiz-tufan-ozkan">
                        <img src="https://talktoweb.com/wp-content/uploads/2024/06/tufan-ozkan.webp" alt="Tufan Özkan" class="img-fluid rounded">
                    </a>
                    <figcaption class="wp-caption-text">
                            Dijital Göçebe Öğrencimiz Tufan Özkan
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

{% endblock %}