<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Müşteri Politikası</title>
    <link href="{{ROOT}}/CrmProject/css/bootstrap.css" rel="stylesheet">
    <link href="{{ROOT}}/CrmProject/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="{{ROOT}}/CrmProject/Navbar/Css/Navbar.css" rel="stylesheet">
</head>
<body>
<div id="page-content" class="site">
    <div id="content" class="site-content">
        <header id="header-cont" class="header sticky-top">
        </header>
        <div class="whatsapp">
            <a href="https://wa.me/5456688801" target="_blank" class="btn btn-success btn-circle"
                id="whatsappButton">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Müşteri Politikası</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="info">
                <div class="row">
                    <div class="col-12">
                        <h1 class="info-subtitle">Müşteri Politikamız</h1>
                        <p class="info-text">
                            Talk to Web olarak, müşteri memnuniyetini en yüksek öncelik olarak kabul ediyoruz. Bu
                            nedenle, müşterilerimize en iyi hizmeti sunma ve işbirliğimizi adil ve saygılı bir şekilde
                            yürütme taahhüdünde bulunuyoruz.
                        </p>

                        <h2 class="info-subtitle">1. Müşteri Odaklılık</h2>
                        <p class="info-text">
                            Müşterilerimizin ihtiyaçları ve beklentileri bizim için önceliktir. Her zaman müşteri
                            deneyimini iyileştirmek ve onların memnuniyetini sağlamak için çalışıyoruz.
                        </p>

                        <h2 class="info-subtitle">2. Şeffaflık</h2>
                        <p class="info-text">
                            İş ilişkimiz boyunca şeffaf olmaya ve açık iletişim sağlamaya özen gösteriyoruz.
                            Ücretlendirme, eğitim programları ve diğer önemli bilgiler konusunda her türlü sorunuzu
                            yanıtlamaya hazırız.
                        </p>

                        <h2 class="info-subtitle">3. Gizlilik ve Veri Koruma</h2>
                        <p class="info-text">
                            Müşteri bilgilerinin gizliliği ve güvenliği bizim için kritik bir konudur. Kişisel
                            verilerinizi koruma ve gizliliğinizi sağlama konusundaki taahhüdümüzü sürdürüyoruz.
                        </p>

                        <h2 class="info-subtitle">4. Adil İş İlişkileri</h2>
                        <p class="info-text">
                            Her müşteriye eşit muamelede bulunuyor ve adil iş ilişkileri sürdürüyoruz. Herkesin fırsat
                            eşitliği ve saygı gördüğü bir ortam yaratmaya çalışıyoruz.
                        </p>

                        <h2 class="info-subtitle">5. Müşteri Geri Bildirimleri</h2>
                        <p class="info-text">
                            Müşteri geri bildirimlerini önemsiyoruz. Sizden gelen geri bildirimleri dikkate alarak
                            hizmetlerimizi ve eğitim programlarımızı geliştirmeye çalışıyoruz.
                        </p>

                        <h2 class="info-subtitle">6. Söz Verdiğimiz Hizmetleri Sağlama</h2>
                        <p class="info-text">
                            Müşterilere verdiğimiz taahhütleri eksiksiz bir şekilde yerine getirme konusunda kararlıyız.
                            Verilen süre içinde ve belirtilen kalite standartlarında hizmet sunmayı amaçlıyoruz.
                        </p>

                        <h2 class="info-subtitle">7. İşbirliği ve Çözüm Odaklılık</h2>
                        <p class="info-text">
                            Sorunlarınıza hızlı ve etkili bir şekilde çözüm bulmak için işbirliği yapmaktan
                            çekinmiyoruz. Müşteri memnuniyetini sağlama konusundaki ortak çabalarımızı takdir ediyoruz.
                        </p>

                        <h2 class="info-subtitle">8. Dürüstlük ve Etik İlkeler</h2>
                        <p class="info-text">
                            İş yapış şeklimizde dürüstlük ve etik değerler ön plandadır. Müşterilerimize her zaman doğru
                            ve güvenilir bilgiler sunarız.
                        </p>

                        <p class="info-text">
                            Talk to Web olarak, müşterilerimizle sürdürdüğümüz işbirliği ve ilişkilerin kalitesine büyük
                            önem veriyoruz. Müşteri politikamız, bu taahhüdümüzü yansıtmaktadır.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid numaralar-section-static">
            <div class="container">
                <div class="row">
                    <div class="col-7">

                    </div>
                    <div class="col-1"></div>
                    <div class="col-4 stats-form">
                        <div class="card p-4">
                            <h4 class="mb-4">Biz Sizi Arayalım</h4>
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Ad Soyad"
                                           required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Telefon" required>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary custom-button">Gönder</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 yorumlar-section">
            <h4 class="text-center mb-4">Öğrencilerimiz hakkımızda ne düşünüyor?</h4>
            <div class="row">
                <div id="testimonialCarousel" class="carousel slide">
                    <div class="testimonial-carousel">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">İyi Ki Varsınız</h6>
                                    <p>"Sayenizde artık benim de bir işim var. Ne söylesem, nasıl teşekkür etsem
                                        azdır."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>

                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/31-1.jpg"
                                         alt="Rashat Hacizade" class="testimonial-image">
                                    <div class="testimonial-name">Rashat Hacizade</div>
                                    <div class="testimonial-profession">Grafik Tasarım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Sonunda Buldum!</h6>
                                    <p>"1 yıldır UX-UI eğitimi alabileceğim bir yer arıyordum. Sizinle mesleğimi elime
                                        aldım. Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/abdulkadir_yilmaz.jpg"
                                         alt="Abdulkadir Yılmaz" class="testimonial-image">
                                    <div class="testimonial-name">Abdulkadir Yılmaz</div>
                                    <div class="testimonial-profession">UX-UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Çok Memnun Kaldım</h6>
                                    <p>"Üniversitede öğretilmeyen konuların tümünü burada öğrendim. Harika bir akademi,
                                        teşekkürler :)"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/baransel_akkus.jpg"
                                         alt="Baransel Akkuş" class="testimonial-image">
                                    <div class="testimonial-name">Baransel Akkuş</div>
                                    <div class="testimonial-profession">UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Teşekkürler Talk to Web 🙂</h6>
                                    <p>"Üniversitede almam gereken eğitimi sizden aldım. Çok şükür bir işe girebildim.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/esra_elma.jpg"
                                         alt="Esra Elma" class="testimonial-image">
                                    <div class="testimonial-name">Esra Elma</div>
                                    <div class="testimonial-profession">Creative Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Üniversite gibi Akademi</h6>
                                    <p>"Tasarım alanında eksiklerim vardı, aldığım eğitim sayesinde artık daha rahatım.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/ilker_metehan.jpg"
                                         alt="İlker Metehan" class="testimonial-image">
                                    <div class="testimonial-name">İlker Metehan</div>
                                    <div class="testimonial-profession">Web Yazılım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğitimler Çok Güzeldi</h6>
                                    <p>"Dövmelerimi geliştirmek için grafik tasarım eğitimi aldım ve şu an çok daha iyi
                                        çizimler yapabiliyorum."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/sena_uyanik.png"
                                         alt="Sena Uyanık" class="testimonial-image">
                                    <div class="testimonial-name">Sena Uyanık</div>
                                    <div class="testimonial-profession">Dövme Sanatçısı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Herkese Tavsiye Ediyorum</h6>
                                    <p>"Okulda göremeyeceğiniz konuları öğrenebilir, webinarlar ile de cv'nizi
                                        geliştirebilirsiniz. Memnun kaldım."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/esra_yagisan.jpg"
                                         alt="Esra Yağışan" class="testimonial-image">
                                    <div class="testimonial-name">Esra Yağışan</div>
                                    <div class="testimonial-profession">Bilgisayar Mühendisliği Öğrencisi</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğlenerek Öğrendim</h6>
                                    <p>"Sadece öğrenmek değil, keyifli bir eğitim almakta benim için önemliydi.
                                        Sağolun"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/serenay_colak.jpg"
                                         alt="Serenay Çolak" class="testimonial-image">
                                    <div class="testimonial-name">Serenay Çolak</div>
                                    <div class="testimonial-profession">Art Designer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer-cont"></footer>

<script src="{{ROOT}}/CrmProject/js/bootstrap.bundle.js"></script>
<script src="{{ROOT}}/CrmProject/node_modules/fontawesome/js/all.min.js"></script>
<script src="{{ROOT}}/CrmProject/Navbar/Js/Navbar.js"></script>
</body>
</html>