<!DOCTYPE html>
<html lang="tr"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Eğitmen Emel Bakkallar</title>
    <link href="https://test.talktoweb.com/CrmProject/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/Navbar/Css/Navbar.css" rel="stylesheet">
<body>
<div id="page-content" class="site">
    <div id="content" class="site-content">
        <header id="header-cont" class="header sticky-top"></header>
        <div class="whatsapp">
            <a href="https://wa.me/5456688801" target="_blank" class="btn btn-success btn-circle" id="whatsappButton">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Emel Bakkallar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 upcoming-webinar-section">
    <div class="row align-items-flex-start">
        <div class="col-lg-3">
            <img src="https://test.talktoweb.com/images/instructors/emel-bakkallar.webp" class="instructor-page-photo">
        </div>
        <div class="col-lg-6">
            <h2 class="info-title">Eğitmenimiz Emel Bakkallar</h2>
            <p class="info-text mb-4">
                <b>Blender 3D Oyun Tasarım Eğitmeni</b><br><br>
                5 yılı aşkın süredir Blender kullanarak 3D Game Artist olarak çalışmakta ve bu süreçte edindiği bilgi ve deneyimi paylaşmaktan büyük keyif almaktadır.
                Blender öğrenmek isteyenlere yönelik eğitici ve motive edici eğitimler vererek, teknik detayları ve yaratıcı süreçleri anlaşılır bir şekilde aktarmakta ve öğrencilerine rehberlik etmektedir.<br><br>
                Amacı, 3D dünyasına yeni adım atanlara ilham vermek ve onların gelişimine katkıda bulunmaktır. 
                Sanatsal vizyonunu teknik uzmanlıkla birleştirerek projelerin her aşamasında yüksek kaliteli ve ilgi çekici içerikler üretmeye odaklanmakta; hem bireysel hem de ekip çalışmalarında aktif rol alarak projelerin başarılı bir şekilde tamamlanmasına katkı sağlamaktadır.<br><br>
            
                <b>Türkiye İletişim: <a href="tel:+905456688801">0545 668 88 01</a></b></p>
        </div>
        <div class="col-lg-3 d-flex justify-content-center d-none d-sm-block no-padding">
                    <div class="card p-3">
                        <h4 class="info-title mb-3">Eğitmen ile İletişime Geç</h4>
                        <form id="contactForm">
                            <div class="mb-3">
                                <input type="text" class="form-control custom-input" id="nameInput"
                                       placeholder="Ad Soyad" required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control custom-input" id="phoneInput"
                                       placeholder="Telefon" required>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control custom-input" id="messageInput" placeholder="Mesajınız" rows="4" style="resize: none;" required></textarea>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary custom-button">Gönder</button>
                            </div>
                            <div id="successMessage" class="mt-3 text-success" style="display: none;">
                                Başarılı! Bilgileriniz alınmıştır.
                            </div>
                        </form>
                    </div>
                </div>
    </div>
    
    <h5 class="mt-3 mb-3">Dahil Olduğu Eğitimler</h5>
    
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card shadow-lg h-100 course-card">
                <a href="https://test.talktoweb.com/egitimler/web-tasarim-frontend-uzmanligi">
                    <div class="card-img-container">
                        <img src="https://test.talktoweb.com/images/web_tasarim_front-end.webp" class="card-img-top img-fluid" alt="Kurs Resmi">
                    </div>
                </a>
                <div class="card-body">
                    <h6 class="card-title">
                        <a href="https://test.talktoweb.com/egitimler/web-tasarim-frontend-uzmanligi" class="text-decoration-none text-primary">Web Tasarım & Front-End Uzmanlığı</a>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card shadow-lg h-100 course-card">
                <a href="https://test.talktoweb.com/egitimler/ui-ve-ux-tasarim-uzmanligi">
                    <div class="card-img-container">
                        <img src="https://talktoweb.com/wp-content/uploads/2024/07/ui-ux_tasarim_uzmanligi.webp" class="card-img-top img-fluid" alt="Kurs Resmi">
                    </div>
                </a>
                <div class="card-body">
                    <h6 class="card-title">
                        <a href="https://test.talktoweb.com/egitimler/ui-ve-ux-tasarim-uzmanligi" class="text-decoration-none text-primary">UI ve UX Tasarım Uzmanlığı</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container my-5 yorumlar-section">
            <h4 class="text-center mb-4">Öğrencilerimiz hakkımızda ne düşünüyor?</h4>
            <div class="row">
                <div id="testimonialCarousel" class="carousel slide">
                    <div class="testimonial-carousel">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">İyi Ki Varsınız</h6>
                                    <p>"Sayenizde artık benim de bir işim var. Ne söylesem, nasıl teşekkür etsem
                                        azdır."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>

                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/31-1.jpg"
                                         alt="Rashat Hacizade" class="testimonial-image">
                                    <div class="testimonial-name">Rashat Hacizade</div>
                                    <div class="testimonial-profession">Grafik Tasarım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Sonunda Buldum!</h6>
                                    <p>"1 yıldır UX-UI eğitimi alabileceğim bir yer arıyordum. Sizinle mesleğimi elime
                                        aldım. Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/abdulkadir_yilmaz.jpg"
                                         alt="Abdulkadir Yılmaz" class="testimonial-image">
                                    <div class="testimonial-name">Abdulkadir Yılmaz</div>
                                    <div class="testimonial-profession">UX-UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Çok Memnun Kaldım</h6>
                                    <p>"Üniversitede öğretilmeyen konuların tümünü burada öğrendim. Harika bir akademi,
                                        teşekkürler :)"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/baransel_akkus.jpg"
                                         alt="Baransel Akkuş" class="testimonial-image">
                                    <div class="testimonial-name">Baransel Akkuş</div>
                                    <div class="testimonial-profession">UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Teşekkürler Talk to Web 🙂</h6>
                                    <p>"Üniversitede almam gereken eğitimi sizden aldım. Çok şükür bir işe girebildim.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/esra_elma.jpg"
                                         alt="Esra Elma" class="testimonial-image">
                                    <div class="testimonial-name">Esra Elma</div>
                                    <div class="testimonial-profession">Creative Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Üniversite gibi Akademi</h6>
                                    <p>"Tasarım alanında eksiklerim vardı, aldığım eğitim sayesinde artık daha rahatım.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/ilker_metehan.jpg"
                                         alt="İlker Metehan" class="testimonial-image">
                                    <div class="testimonial-name">İlker Metehan</div>
                                    <div class="testimonial-profession">Web Yazılım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğitimler Çok Güzeldi</h6>
                                    <p>"Dövmelerimi geliştirmek için grafik tasarım eğitimi aldım ve şu an çok daha iyi
                                        çizimler yapabiliyorum."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/sena_uyanik.png"
                                         alt="Sena Uyanık" class="testimonial-image">
                                    <div class="testimonial-name">Sena Uyanık</div>
                                    <div class="testimonial-profession">Dövme Sanatçısı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Herkese Tavsiye Ediyorum</h6>
                                    <p>"Okulda göremeyeceğiniz konuları öğrenebilir, webinarlar ile de cv'nizi
                                        geliştirebilirsiniz. Memnun kaldım."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/esra_yagisan.jpg"
                                         alt="Esra Yağışan" class="testimonial-image">
                                    <div class="testimonial-name">Esra Yağışan</div>
                                    <div class="testimonial-profession">Bilgisayar Mühendisliği Öğrencisi</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğlenerek Öğrendim</h6>
                                    <p>"Sadece öğrenmek değil, keyifli bir eğitim almakta benim için önemliydi.
                                        Sağolun"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/serenay_colak.jpg"
                                         alt="Serenay Çolak" class="testimonial-image">
                                    <div class="testimonial-name">Serenay Çolak</div>
                                    <div class="testimonial-profession">Art Designer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </div>
</div>

<footer id="footer-cont"></footer>

<script src="https://test.talktoweb.com/CrmProject/node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/js/bootstrap.bundle.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/node_modules/fontawesome/js/all.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/Navbar/Js/Navbar.js"></script>

</body></html>