<footer id="footer-div" class="wrapper_footer custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6 class="footer-title ">Kurumsal</h6>
                <ul class="list-unstyled">
                    <li><a href="{{ ROOT }}/business-learning">Kurumsal Eğitim Çözümleri</a></li>
                    <li><a href="{{ ROOT }}/contracted-institutions">Anlaşmalı Kurumlar</a></li>
                    <li><a href="{{ ROOT }}/fqa">Sıkça Sorulan Sorular</a></li>
                    <li><a href="{{ ROOT }}/human-resources">İnsan Kaynakları</a></li>
                    <li><a href="{{ ROOT }}/write-to-us">Bize Yazın</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="footer-title">İstanbul Ofis</p>
                <p class="ofice-contact">Sinanpaşa Mahallesi</p>
                <p class="ofice-contact">Süleyman Seba Caddesi No:14/5</p>
                <p class="ofice-contact">Sıraevler, Beşiktaş, Türkiye</p>
                <p class="ofice-contact"><a href="tel:+902122595505">0212 259 55 05</a></p>
            </div>
            <div class="col-md-3">
                <p class="footer-title">Almanya Ofis</p>
                <p class="ofice-contact">Scheffelstraße 72, 40470</p>
                <p class="ofice-contact">Nordrhein-Westfalen,</p>
                <p class="ofice-contact">Düsseldorf, Germany</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="footer-logo">
                    <img src="{{ frontend.logo_footer.original }}" alt="footer-logo" style="height: 72px;width: 72px;">

                </div>
                <a href="{{ frontend.info_email }}" class="footer-contact">{{ frontend.info_email }}</a>
                <p class="footer-contact">Müşteri Hizmetleri: {{ frontend.phone_number }}</p>
                <div class="social-icons">
                    <a href="{{ frontend.youtube_address }}" target="_blank" class="social-icon">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="{{ frontend.instagram_address }}" target="_blank" class="social-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="{{ frontend.linked_in_address }}" target="_blank" class="social-icon">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="footer-bottom text-center mt-4">
            @  <span id="year"><script>document.getElementById("year").innerHTML = new Date().getFullYear();</script></span>   Talk to Web Dijital Eğitim Merkezi. Tüm Hakları Saklıdır.
        </div>
    </div>
</footer>