{% extends "frontend/base.html" %}
{% load  static %}
{% load l10n %}

{% block title %}<title>Anasayfa | Talk to Web ile Kariyerini Tasarla</title>{% endblock %}


{% block main_content %}
    <div id="content" class="site-content">
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Sıkça Sorulan Sorular</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-4 faq-section">
            <div class="accordion" id="faqAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeadingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqCollapseOne" aria-expanded="true"
                                aria-controls="faqCollapseOne">
                            Talk to Web Nedir?
                        </button>
                    </h2>
                    <div id="faqCollapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="faqHeadingOne" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Talk to Web, grafik ve video tasarım, dijital pazarlama & sosyal medya, yazılım geliştirme,
                            mobil uygulama geliştirme, mimari tasarım gibi çeşitli dijital alanlarda uzmanlaşmış bir
                            eğitim merkezidir.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeadingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqCollapseTwo" aria-expanded="false"
                                aria-controls="faqCollapseTwo">
                            Hangi Eğitimleri Sunuyorsunuz?
                        </button>
                    </h2>
                    <div id="faqCollapseTwo" class="accordion-collapse collapse" aria-labelledby="faqHeadingTwo"
                         data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Talk to Web Dijital Eğitim Merkezi, grafik tasarım & video efekt, UI-UX tasarım, yazılım
                            geliştirme, mobil uygulama geliştirme, sosyal medya ve dijital pazarlama, mimari tasarım
                            gibi geniş bir yelpazedeki eğitimleri sunar.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeadingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqCollapseThree" aria-expanded="false"
                                aria-controls="faqCollapseThree">
                            Eğitimler Kimlere Yöneliktir?
                        </button>
                    </h2>
                    <div id="faqCollapseThree" class="accordion-collapse collapse" aria-labelledby="faqHeadingThree"
                         data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Eğitimlerimiz, her seviyeden öğrenciye ve profesyonellere yöneliktir. Yeni başlayanlardan
                            deneyimli profesyonellere kadar herkes için uygun programlar sunuyoruz.

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeadingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqCollapseFour" aria-expanded="false"
                                aria-controls="faqCollapseFour">
                            Eğitimler Nasıl İşler?
                        </button>
                    </h2>
                    <div id="faqCollapseFour" class="accordion-collapse collapse" aria-labelledby="faqHeadingFour"
                         data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Eğitimlerimiz online olarak yapılır ve uzman akademisyenler tarafından yönetilir. Dersler,
                            canlı oturumlar, video dersler, proje tabanlı öğrenme ve daha fazlasını içerebilir.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeadingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqCollapseFive" aria-expanded="false"
                                aria-controls="faqCollapseFive">
                            Eğitim Süreleri ve Ücretleri Nedir?
                        </button>
                    </h2>
                    <div id="faqCollapseFive" class="accordion-collapse collapse" aria-labelledby="faqHeadingFive"
                         data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Eğitim süreleri ve ücretleri, her program için farklılık gösterebilir. Detaylı bilgi için
                            lütfen bize ulaşın 0545 668 88 01.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeadingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqCollapseSix" aria-expanded="false"
                                aria-controls="faqCollapseSix">
                            Eğitimler Sonunda Sertifika Veriyor musunuz?
                        </button>
                    </h2>
                    <div id="faqCollapseSix" class="accordion-collapse collapse" aria-labelledby="faqHeadingSix"
                         data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Evet, başarıyla tamamlanan eğitimler sonunda katılımcılara sertifika veriyoruz.

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeadingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqCollapseSeven" aria-expanded="false"
                                aria-controls="faqCollapseSeven">
                            Nasıl Başvurabilirim?
                        </button>
                    </h2>
                    <div id="faqCollapseSeven" class="accordion-collapse collapse" aria-labelledby="faqHeadingSeven"
                         data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Başvuru işlemi hakkında bilgi almak ve başvuru formuna erişmek için ön başvuru ziyaret
                            edebilir veya bize doğrudan ulaşabilirsiniz.

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeadingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqCollapseEight" aria-expanded="false"
                                aria-controls="faqCollapseEight">
                            Eğitimlerimiz Online mı Yoksa Yerinde mi Yapılır?
                        </button>
                    </h2>
                    <div id="faqCollapseEight" class="accordion-collapse collapse" aria-labelledby="faqHeadingEight"
                         data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Eğitimlerimiz çoğunlukla online canlı yayın olarak sunulur, böylece dünyanın her yerinden
                            erişim sağlanabilir. Yerel eğitimler hakkında bilgi almak için lütfen bizimle iletişime
                            geçin.

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeadingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqCollapseNine" aria-expanded="false"
                                aria-controls="faqCollapseNine">
                            Eğitmenleriniz Kimlerdir?
                        </button>
                    </h2>
                    <div id="faqCollapseNine" class="accordion-collapse collapse" aria-labelledby="faqHeadingNine"
                         data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Eğitmenlerimiz, kendi alanlarında deneyimli uzman akademisyenlerdir ve aynı zamanda sektörde
                            de aktif olarak rol almaktadırlar.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="faqHeadingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqCollapseTen" aria-expanded="false"
                                aria-controls="faqCollapseTen">
                            Daha Fazla Bilgi İçin Kimi Aramalıyım?
                        </button>
                    </h2>
                    <div id="faqCollapseTen" class="accordion-collapse collapse" aria-labelledby="faqHeadingTen"
                         data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            Daha fazla bilgi veya özel sorularınız için bizimle iletişime geçmekten çekinmeyin. 0545 668
                            88 01 numaralı canlı yardım hattımızdan bize ulaşabilirsiniz.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}