{% extends "frontend/base.html" %}
{% load  static %}
{% load l10n %}

{% block title %}<title>Anasayfa | Talk to Web ile Kariyerini Tasarla</title>{% endblock %}


{% block main_content %}
    <div class="container preliminary-button">
        <div class="position-fixed d-flex align-items-center floating-button">
            <a href="#" class="btn btn-primary d-block" id="floatingButton"
               data-bs-toggle="offcanvas"
               data-bs-target="#offcanvasRight"
               aria-controls="offcanvasRight">
                Ön Başvuru Formu
            </a>
        </div>
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header justify-content-between">
                <button type="button" class="btn-close btn-close-left" data-bs-dismiss="offcanvas"  aria-label="Close"></button>
            </div>
            <div class="offcanvas-body position-relative">
                <div class="container-fluid my-3 form-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="form-container">
                                    {% include "frontend/biz_sizi_arayalim3.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container p-3">
                    <a href="tel:{{ frontend.whatsapp_number }}" class="d-flex justify-content-center mb-3">
                        {% if frontend.web_kampanya %}
                            <img alt="talk to web kampanya" src="{{ frontend.web_kampanya.original }}"  class="img-fluid">
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>

{#    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true"#}
{#                      navigation="true" space-between="30" centered-slides="true"#}
{#                      autoplay-delay="3500" autoplay-disable-on-interaction="false">#}
{#        {% for slide in all_slides %}#}
{#            <swiper-slide>#}
{##}
{#                <div class="container-fluid bg-header biz-sizi-arayalim-section" style="background-image: url('{{ slide.bg_img.original }}');">#}
{#                    {{ slide.html | safe }}#}
{#                </div>#}
{##}
{#            </swiper-slide>#}
{#        {% endfor %}#}
{#      </swiper-container>#}
    <div class="container-fluid bg-header biz-sizi-arayalim-section">
        <div class="col-lg-10 d-flex justify-content-center">
            <div class="col-lg-3 d-flex justify-content-center d-none d-sm-block">
                <div class="card p-4" style="text-align: center">
                    <h2 class="info-title mb-3">Talk to Web<br>Okan Üniversitesinde!</h2>
                    <div class="elementor-widget-container">
                        <a href="https://talktoweb.com/talk-to-web-okan-universitesinde/">
                            <img fetchpriority="high"  height="100" src="https://talktoweb.com/wp-content/uploads/2025/02/10075d25-e907-4f36-87ba-c89f32524288-1024x1024.jpg"  alt="okan üniversitesi">
                        </a>
                    </div>
                    <p><a href="https://talktoweb.com/talk-to-web-okan-universitesinde/">27.02.2025, 13:30<br>Mimar Sinan Konferans Salonu<br>Tuzla Kampüsü</a></p>		</div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center d-none d-sm-block">
                <div class="card p-1">
                    <h4 class="info-title mb-3">Biz Sizi Arayalım</h4>
                    {% include "frontend/biz_sizi_arayalim.html" %}
                </div>
            </div>
            <div class="col-lg-3 d-flex justify-content-center align-items-end kariyer-header-container">
                <div class="text-white text-center">
                    <h1 class="kariyer-header">Kariyerinizi<br>Tasarlayın</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5 course-list">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center mb-4">Güncel Eğitimler</h4>
            </div>
        </div>
        <div class="row g-4" id='MainCourses'>
            {% for course_group in all_course_groups %}
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-lg h-100 course-card">
                        <div class="card-body">
                            {% if course_group.label %}
                                <div class="course-group">{{ course_group.label }}</div>
                            {% endif %}
                            <a href="{{ ROOT }}/egitimler/{{ course_group.slug }}" >
                                <img class="card-img-top" alt="{{ course_group.slug }}" src="{{ course_group.main_image.original }}" data-no-retina="" style="height: 200px" >
                            </a>
                            <h5 class="card-title">{{ course_group.name }}</h5>
                            <div style="max-font-size: 200px;height: 200px;overflow-y: scroll">{{ course_group.description | safe }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <a href="{{ROOT}}/tum-egitimler"
                   class="btn btn-primary course-button">
                    Tüm Eğitimler için tıklayın
                </a>
            </div>
        </div>
    </div>
    <div class="container my-5 instructor-list">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center mb-4">Eğitmen Kadromuz</h4>
            </div>
        </div>

        <div class="row g-4">
             {% for instructor in instructors %}
                <div class="col-6 col-sm-4 col-lg-2" style="text-align: center">
                    <a href="{{ROOT}}/instructors/{{ instructor.slug }}">
                        <img src="{{ instructor.avatar.original }}" class="w-100 instructor-image" height="auto" alt="{{ instructor.slug }}"/>
                    </a>
                    <h6 class="rt-text-1">{{ instructor.full_name }}</h6>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid my-5 mezunlarimiz-section">
        <div class="container student-video-style">
            <div class="col-12 text-center">
                <h4 class="mb-4">Mezunlarımız</h4>
            </div>
        </div>
        <div class="container student-video-style">
             {% include 'frontend/alumni_div.html' %}

        </div>
    </div>
    <div class="container my-5 neden-talk-to-web-section">
        <div class="container student-video-style">
            <div class="col-12 text-center">
                <h4 class="mb-4">Neden Talk to Web?</h4>
            </div>
        </div>
        <div class="container student-video-style">
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card neden-card p-3">
                    <figure class="wp-caption mb-0 col-10 mx-auto mx-auto">
                        <img src="https://talktoweb.com/wp-content/uploads/2024/03/certificate.webp"
                             alt="Certificate" class="img-fluid">
                        <div class="svg-icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="#fff"
                                      d="M211 7.3C205 1 196-1.4 187.6 .8s-14.9 8.9-17.1 17.3L154.7 80.6l-62-17.5c-8.4-2.4-17.4 0-23.5 6.1s-8.5 15.1-6.1 23.5l17.5 62L18.1 170.6c-8.4 2.1-15 8.7-17.3 17.1S1 205 7.3 211l46.2 45L7.3 301C1 307-1.4 316 .8 324.4s8.9 14.9 17.3 17.1l62.5 15.8-17.5 62c-2.4 8.4 0 17.4 6.1 23.5s15.1 8.5 23.5 6.1l62-17.5 15.8 62.5c2.1 8.4 8.7 15 17.1 17.3s17.3-.2 23.4-6.4l45-46.2 45 46.2c6.1 6.2 15 8.7 23.4 6.4s14.9-8.9 17.1-17.3l15.8-62.5 62 17.5c8.4 2.4 17.4 0 23.5-6.1s8.5-15.1 6.1-23.5l-17.5-62 62.5-15.8c8.4-2.1 15-8.7 17.3-17.1s-.2-17.4-6.4-23.4l-46.2-45 46.2-45c6.2-6.1 8.7-15 6.4-23.4s-8.9-14.9-17.3-17.1l-62.5-15.8 17.5-62c2.4-8.4 0-17.4-6.1-23.5s-15.1-8.5-23.5-6.1l-62 17.5L341.4 18.1c-2.1-8.4-8.7-15-17.1-17.3S307 1 301 7.3L256 53.5 211 7.3z"/>
                            </svg>
                        </div>
                    </figure>
                    <p class="widget-image-caption wp-caption-text">Üniversite ve Uluslararası Onaylı Sertifika</p>
                    <p class="neden-description">E devlette görülebilen üniversite ve uluslararası onaylı sertifika
                        sahibi olacaksınız.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card neden-card p-3">
                    <figure class="wp-caption mb-0 col-10 mx-auto">
                        <img src="https://talktoweb.com/wp-content/uploads/2024/03/lecturer.webp" alt="Lecturer"
                             class="img-fluid">
                        <div class="svg-icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20">
                                <path fill="#fff"
                                      d="M14.5 18h-10c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h10c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
                                <path fill="#fff"
                                      d="M16.5 3c-0.276 0-0.5 0.224-0.5 0.5v15c0 0.276-0.224 0.5-0.5 0.5h-11c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5h9c0.827 0 1.5-0.673 1.5-1.5v-12c0-0.827-0.673-1.5-1.5-1.5h-10c-0.827 0-1.5 0.673-1.5 1.5v15c0 1.378 1.122 2.5 2.5 2.5h11c0.827 0 1.5-0.673 1.5-1.5v-15c0-0.276-0.224-0.5-0.5-0.5zM3.5 2h10c0.276 0 0.5 0.224 0.5 0.5v12c0 0.276-0.224 0.5-0.5 0.5h-9c-0.562 0-1.082 0.187-1.5 0.501v-13.001c0-0.276 0.224 0.5 0.5 0.5z"></path>
                            </svg>
                        </div>
                    </figure>
                    <p class="widget-image-caption wp-caption-text">%100 Akademik Müfredat ve Akademisyen
                        Desteği</p>
                    <p class="neden-description">Alacağınız akademik eğitim ile rakiplerinizden çok daha önde
                        olacaksınız.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card neden-card p-3">
                    <figure class="wp-caption mb-0 col-10 mx-auto">
                        <img src="https://talktoweb.com/wp-content/uploads/2024/03/curriculum.webp" alt="Curriculum"
                             class="img-fluid">
                        <div class="svg-icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20">
                                <path fill="#fff"
                                      d="M18.5 18h-17c-0.827 0-1.5-0.673-1.5-1.5v-13c0-0.827 0.673-1.5 1.5-1.5h17c0.827 0 1.5 0.673 1.5 1.5v13c0 0.827-0.673 1.5-1.5 1.5zM1.5 3c-0.276 0-0.5 0.224-0.5 0.5v13c0 0.276 0.224 0.5 0.5 0.5h17c0.276 0 0.5-0.224 0.5-0.5v-13c0-0.276-0.224-0.5-0.5-0.5h-17z"></path>
                                <path fill="#fff"
                                      d="M9.5 6h-6c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h6c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
                                <path fill="#fff"
                                      d="M9.5 9h-6c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h6c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
                                <path fill="#fff"
                                      d="M9.5 11h-6c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h6c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
                                <path fill="#fff"
                                      d="M9.5 13h-6c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h6c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
                                <path fill="#fff"
                                      d="M8.5 15h-5c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h5c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
                                <path fill="#fff"
                                      d="M17.943 6.544l-0.813-0.591-0.311-0.956h-1.005l-0.813-0.591-0.813 0.591h-1.005l-0.311 0.956-0.813 0.591 0.311 0.956-0.311 0.956 0.813 0.591 0.132 0.406c-0.002 0.016-0.002 0.031-0.002 0.047v5c0 0.202 0.122 0.385 0.309 0.462s0.402 0.035 0.545-0.108l1.146-1.146 1.146 1.146c0.096 0.096 0.223 0.147 0.354 0.146 0.064 0 0.129-0.012 0.191-0.038 0.187-0.077 0.309-0.26 0.309-0.462v-5c0-0.016-0.001-0.032-0.002-0.047l0.132-0.406 0.813-0.591-0.311-0.956 0.311-0.956zM13.233 6.926l0.488-0.355 0.187-0.574h0.604l0.488-0.355 0.488 0.355h0.604l0.187 0.574 0.488 0.355-0.187 0.574 0.187 0.574-0.488 0.355-0.187 0.574h-0.604l-0.488 0.355-0.488-0.355h-0.604l-0.187-0.574-0.488-0.355 0.187-0.574-0.187-0.574zM15.354 12.646c-0.195-0.195-0.512-0.195-0.707 0l-0.646 0.646v-3.29h0.187l0.813 0.591 0.813-0.591h0.187v3.29l-0.646-0.646z"></path>
                            </svg>
                        </div>
                    </figure>
                    <p class="widget-image-caption wp-caption-text">Akademisyenler Tarafından Düzenlenen
                        Webinarlar</p>
                    <p class="neden-description">Her hafta eğitmenlerimiz tarafından düzenlenen webinarlar ile
                        online katılım belgesi sahibi olacaksınız.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mb-4">
                <div class="card neden-card p-3">
                    <figure class="wp-caption mb-0 col-10 mx-auto">
                        <img src="https://talktoweb.com/wp-content/uploads/2024/03/application.webp"
                             alt="Application" class="img-fluid">
                        <div class="svg-icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20">
                                <path fill="#fff"
                                      d="M10 20c-0.153 0-0.298-0.07-0.393-0.191-0.057-0.073-1.418-1.814-2.797-4.385-0.812-1.513-1.46-2.999-1.925-4.416-0.587-1.787-0.884-3.472-0.884-5.008 0-3.308 2.692-6 6-6s6 2.692 6 6c0 1.536-0.298 3.22-0.884 5.008-0.465 1.417-1.113 2.903-1.925 4.416-1.38 2.571-2.74 4.312-2.797 4.385-0.095 0.121-0.24 0.191-0.393 0.191zM10 1c-2.757 0-5 2.243-5 5 0 3.254 1.463 6.664 2.691 8.951 0.902 1.681 1.809 3.014 2.309 3.71 0.502-0.699 1.415-2.04 2.318-3.726 1.223-2.283 2.682-5.687 2.682-8.935 0-2.757-2.243-5-5-5z"></path>
                                <path fill="#fff"
                                      d="M10 9c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3zM10 4c-1.103 0-2 0.897-2 2s0.897 2 2 2c1.103 0 2-0.897 2-2s-0.897-2-2-2z"></path>
                            </svg>
                        </div>
                    </figure>
                    <p class="widget-image-caption wp-caption-text">Uygulama Esasına Dayanan Eğitim Garantisi</p>
                    <p class="neden-description">Sektör ihtiyacına yönelik verilen eğitimlerde uygulamalı projeler
                        hazırlayabileceksiniz.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

{% endblock %}


