{% extends "frontend/base.html" %}
{% load  static %}

{% block title %}<title>Talk To Web | {{ instructor.full_name }}</title>{% endblock %}

{% block css %}
{% endblock %}

{% block main_content %}
    <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">{{ instructor.full_name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container my-5 upcoming-webinar-section">
        <div class="row align-items-flex-start">
            <div class="col-lg-3">
                <img src="{{ instructor.avatar.original }}" class="instructor-page-photo" alt="{{ instructor.slug }}">
            </div>
            <div class="col-lg-6">
                <h2 class="info-title">Eğitmenimiz {{ instructor.full_name }}</h2>
                    {{ instructor.bio|safe}}
                    <br>
                    <br>

                    <b>Türkiye İletişim: <a href="tel:{{ frontend.whatsapp_number }}">{{ frontend.whatsapp_number }}</a></b>
            </div>
            <div class="col-lg-3 d-flex justify-content-center d-none d-sm-block no-padding">
                <div class="card p-3" style="text-align: center">
                    <h4 class="info-title mb-3">İletişime geç</h4>
                        <form id="instructor_contact_form">
                            <div class="mb-3">
                                <input type="text" class="form-control custom-input" id="instructor_contact_name" placeholder="Ad Soyad" required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control custom-input" id="instructor_contact_phone" placeholder="Telefon" required>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary custom-button">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>

    <h5 class="mt-3 mb-3">Dahil Olduğu Eğitimler</h5>
    
{% endblock %}

{% block js %}

{% endblock %}
