{% extends "frontend/base.html" %}
{% load  static %}
{% load l10n %}

{% block title %}<title>Kurumsal Eğitim Çözümleri | Hakkımızda</title>{% endblock %}

{% block css %}
    <style>

    </style>

{% endblock %}
{% block main_content %}
    <div class="container-fluid info-section">
        <div class="banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-title">
                            <p class="title">Kalite Politikamız</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="info">
            <div class="row">
                <div class="col-12">
                    <h1 class="info-subtitle">Kalite Politikamız</h1>
                    <p class="info-text">
                        Talk to Web olarak, müşterilerimize en yüksek kalitede eğitim ve hizmet sunma taahhüdüyle
                        çalışıyoruz. Bu taahhüdümüzü gerçekleştirmek için aşağıdaki kalite politikalarını
                        benimsemekteyiz:
                    </p>

                    <h2 class="info-subtitle">1. Mükemmeliyet Arayışı</h2>
                    <p class="info-text">
                        Sürekli gelişim ve yenilik, işimizin merkezindedir. Her zaman daha iyiye ulaşmak için çaba
                        gösteriyoruz ve eğitimlerimizi sürekli olarak gözden geçiriyoruz.
                    </p>

                    <h2 class="info-subtitle">2. Uzman Eğitmenler</h2>
                    <p class="info-text">
                        Eğitimlerimizi sunan eğitmenlerimiz, kendi alanlarında uzman ve deneyimlidir.
                        Öğrencilerimize en güncel bilgileri ve pratik becerileri sağlamak için sürekli olarak eğitim
                        alırlar.
                    </p>

                    <h2 class="info-subtitle">3. Öğrenci Memnuniyeti</h2>
                    <p class="info-text">
                        Öğrencilerimizin memnuniyeti ve başarısı, en önemli önceliğimizdir. Onların ihtiyaçlarını
                        anlamak ve desteklemek için çaba gösteriyoruz.
                    </p>

                    <h2 class="info-subtitle">4. İhtiyaca Özel Eğitim Programları</h2>
                    <p class="info-text">
                        Her öğrenci farklıdır ve farklı ihtiyaçlara sahiptir. Bu nedenle, özelleştirilmiş eğitim
                        programları sunarak her öğrencinin potansiyelini en üst düzeye çıkarmayı hedefliyoruz.
                    </p>

                    <h2 class="info-subtitle">5. Teknolojik İlerleme</h2>
                    <p class="info-text">
                        Dijital dünya sürekli değişiyor. Bu nedenle, en son teknolojileri ve eğitim metodolojilerini
                        takip ediyoruz ve öğrencilerimize bu alanda rekabetçi olmaları için gerekli araçları
                        sunuyoruz.
                    </p>

                    <h2 class="info-subtitle">6. Sürdürülebilirlik</h2>
                    <p class="info-text">
                        Çevreye saygı, iş yapış şeklimizin önemli bir parçasıdır. Sürdürülebilirlik ilkelerine
                        uyarak, gelecek nesiller için daha iyi bir dünya yaratmaya katkı sağlıyoruz.
                    </p>

                    <h2 class="info-subtitle">7. İşbirliği ve Paylaşım</h2>
                    <p class="info-text">
                        Bilgi ve deneyim paylaşımı, hem öğrencilerimiz hem de sektörümüz için önemlidir. İşbirliği
                        ve açık iletişimle herkesin başarılı olmasına yardımcı oluyoruz.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}