<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kalite Politikamız</title>
    <link href="https://test.talktoweb.com/CrmProject/css/bootstrap.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/Navbar/Css/Navbar.css" rel="stylesheet">
</head>
<body>
<div id="page-content" class="site">
    <div id="content" class="site-content">
        <header id="header-cont" class="header sticky-top">
        </header>
        <div class="whatsapp">
            <a href="https://wa.me/5456688801" target="_blank" class="btn btn-success btn-circle"
                id="whatsappButton">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Kalite Politikamız</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="info">
                <div class="row">
                    <div class="col-12">
                        <h1 class="info-subtitle">Kalite Politikamız</h1>
                        <p class="info-text">
                            Talk to Web olarak, müşterilerimize en yüksek kalitede eğitim ve hizmet sunma taahhüdüyle
                            çalışıyoruz. Bu taahhüdümüzü gerçekleştirmek için aşağıdaki kalite politikalarını
                            benimsemekteyiz:
                        </p>

                        <h2 class="info-subtitle">1. Mükemmeliyet Arayışı</h2>
                        <p class="info-text">
                            Sürekli gelişim ve yenilik, işimizin merkezindedir. Her zaman daha iyiye ulaşmak için çaba
                            gösteriyoruz ve eğitimlerimizi sürekli olarak gözden geçiriyoruz.
                        </p>

                        <h2 class="info-subtitle">2. Uzman Eğitmenler</h2>
                        <p class="info-text">
                            Eğitimlerimizi sunan eğitmenlerimiz, kendi alanlarında uzman ve deneyimlidir.
                            Öğrencilerimize en güncel bilgileri ve pratik becerileri sağlamak için sürekli olarak eğitim
                            alırlar.
                        </p>

                        <h2 class="info-subtitle">3. Öğrenci Memnuniyeti</h2>
                        <p class="info-text">
                            Öğrencilerimizin memnuniyeti ve başarısı, en önemli önceliğimizdir. Onların ihtiyaçlarını
                            anlamak ve desteklemek için çaba gösteriyoruz.
                        </p>

                        <h2 class="info-subtitle">4. İhtiyaca Özel Eğitim Programları</h2>
                        <p class="info-text">
                            Her öğrenci farklıdır ve farklı ihtiyaçlara sahiptir. Bu nedenle, özelleştirilmiş eğitim
                            programları sunarak her öğrencinin potansiyelini en üst düzeye çıkarmayı hedefliyoruz.
                        </p>

                        <h2 class="info-subtitle">5. Teknolojik İlerleme</h2>
                        <p class="info-text">
                            Dijital dünya sürekli değişiyor. Bu nedenle, en son teknolojileri ve eğitim metodolojilerini
                            takip ediyoruz ve öğrencilerimize bu alanda rekabetçi olmaları için gerekli araçları
                            sunuyoruz.
                        </p>

                        <h2 class="info-subtitle">6. Sürdürülebilirlik</h2>
                        <p class="info-text">
                            Çevreye saygı, iş yapış şeklimizin önemli bir parçasıdır. Sürdürülebilirlik ilkelerine
                            uyarak, gelecek nesiller için daha iyi bir dünya yaratmaya katkı sağlıyoruz.
                        </p>

                        <h2 class="info-subtitle">7. İşbirliği ve Paylaşım</h2>
                        <p class="info-text">
                            Bilgi ve deneyim paylaşımı, hem öğrencilerimiz hem de sektörümüz için önemlidir. İşbirliği
                            ve açık iletişimle herkesin başarılı olmasına yardımcı oluyoruz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid numaralar-section-static">
            <div class="container">
                <div class="row">
                    <div class="col-7">

                    </div>
                    <div class="col-1"></div>
                    <div class="col-4 stats-form">
                        <div class="card p-4">
                            <h4 class="mb-4">Biz Sizi Arayalım</h4>
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Ad Soyad"
                                           required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Telefon" required>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary custom-button">Gönder</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 yorumlar-section">
            <h4 class="text-center mb-4">Öğrencilerimiz hakkımızda ne düşünüyor?</h4>
            <div class="row">
                <div id="testimonialCarousel" class="carousel slide">
                    <div class="testimonial-carousel">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">İyi Ki Varsınız</h6>
                                    <p>"Sayenizde artık benim de bir işim var. Ne söylesem, nasıl teşekkür etsem
                                        azdır."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>

                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/31-1.jpg"
                                         alt="Rashat Hacizade" class="testimonial-image">
                                    <div class="testimonial-name">Rashat Hacizade</div>
                                    <div class="testimonial-profession">Grafik Tasarım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Sonunda Buldum!</h6>
                                    <p>"1 yıldır UX-UI eğitimi alabileceğim bir yer arıyordum. Sizinle mesleğimi elime
                                        aldım. Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/abdulkadir_yilmaz.jpg"
                                         alt="Abdulkadir Yılmaz" class="testimonial-image">
                                    <div class="testimonial-name">Abdulkadir Yılmaz</div>
                                    <div class="testimonial-profession">UX-UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Çok Memnun Kaldım</h6>
                                    <p>"Üniversitede öğretilmeyen konuların tümünü burada öğrendim. Harika bir akademi,
                                        teşekkürler :)"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/baransel_akkus.jpg"
                                         alt="Baransel Akkuş" class="testimonial-image">
                                    <div class="testimonial-name">Baransel Akkuş</div>
                                    <div class="testimonial-profession">UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Teşekkürler Talk to Web 🙂</h6>
                                    <p>"Üniversitede almam gereken eğitimi sizden aldım. Çok şükür bir işe girebildim.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/esra_elma.jpg"
                                         alt="Esra Elma" class="testimonial-image">
                                    <div class="testimonial-name">Esra Elma</div>
                                    <div class="testimonial-profession">Creative Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Üniversite gibi Akademi</h6>
                                    <p>"Tasarım alanında eksiklerim vardı, aldığım eğitim sayesinde artık daha rahatım.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/ilker_metehan.jpg"
                                         alt="İlker Metehan" class="testimonial-image">
                                    <div class="testimonial-name">İlker Metehan</div>
                                    <div class="testimonial-profession">Web Yazılım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğitimler Çok Güzeldi</h6>
                                    <p>"Dövmelerimi geliştirmek için grafik tasarım eğitimi aldım ve şu an çok daha iyi
                                        çizimler yapabiliyorum."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/sena_uyanik.png"
                                         alt="Sena Uyanık" class="testimonial-image">
                                    <div class="testimonial-name">Sena Uyanık</div>
                                    <div class="testimonial-profession">Dövme Sanatçısı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Herkese Tavsiye Ediyorum</h6>
                                    <p>"Okulda göremeyeceğiniz konuları öğrenebilir, webinarlar ile de cv'nizi
                                        geliştirebilirsiniz. Memnun kaldım."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/esra_yagisan.jpg"
                                         alt="Esra Yağışan" class="testimonial-image">
                                    <div class="testimonial-name">Esra Yağışan</div>
                                    <div class="testimonial-profession">Bilgisayar Mühendisliği Öğrencisi</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğlenerek Öğrendim</h6>
                                    <p>"Sadece öğrenmek değil, keyifli bir eğitim almakta benim için önemliydi.
                                        Sağolun"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/serenay_colak.jpg"
                                         alt="Serenay Çolak" class="testimonial-image">
                                    <div class="testimonial-name">Serenay Çolak</div>
                                    <div class="testimonial-profession">Art Designer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer-cont"></footer>

<script src="https://test.talktoweb.com/CrmProject/js/bootstrap.bundle.js"></script>
<script src="https://test.talktoweb.com/CrmProject/node_modules/fontawesome/js/all.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/Navbar/Js/Navbar.js"></script>
</body>
</html>