<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Bilgi Güvenliği Politikamız</title>
    <link href="{{ROOT}}/CrmProject/css/bootstrap.css" rel="stylesheet">
    <link href="{{ROOT}}/CrmProject/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="{{ROOT}}/CrmProject/Navbar/Css/Navbar.css" rel="stylesheet">
</head>
<body>
<div id="page-content" class="site">
    <div id="content" class="site-content">
        <header id="header-cont" class="header sticky-top">
        </header>
        <div class="whatsapp">
            <a href="https://wa.me/5456688801" target="_blank" class="btn btn-success btn-circle"
                id="whatsappButton">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Bilgi Güvenliği Politikamız</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="info">
                <div class="row">
                    <div class="col-12">
                        <h1 class="info-subtitle">Bilgi Güvenliği Politikamız</h1>
                        <p class="info-text">
                            Talk to Web olarak, müşterilerimizin ve iş ortaklarımızın hassas bilgilerinin korunmasını
                            büyük bir ciddiyetle ele alıyoruz. Bu nedenle, bilgi güvenliği konusundaki taahhüdümüzü
                            açıkça ifade eden bir bilgi güvenliği politikası oluşturduk.
                        </p>

                        <h2 class="info-subtitle">1. Bilgi Güvenliği Taahhüdü</h2>
                        <p class="info-text">
                            Talk to Web olarak, müşteri bilgilerinin, iş sırlarının ve diğer hassas verilerin
                            gizliliğini ve güvenliğini sağlama taahhüdümüzü en üst düzeyde tutuyoruz.
                        </p>

                        <h2 class="info-subtitle">2. Bilgi Varlıklarının Korunması</h2>
                        <p class="info-text">
                            Tüm bilgi varlıklarını etkin bir şekilde koruma amacıyla uygun güvenlik önlemlerini
                            alıyoruz. Bu, fiziksel güvenlikten dijital veri korumaya kadar bir dizi güvenlik önlemini
                            içerir.
                        </p>

                        <h2 class="info-subtitle">3. Veri Gizliliği</h2>
                        <p class="info-text">
                            Müşteri bilgilerinin gizliliği ve gizlilik haklarına saygı gösterme konusundaki
                            kararlılığımızı koruyoruz. Veri toplama, depolama ve işleme süreçlerimizi güvence altına
                            alıyoruz.
                        </p>

                        <h2 class="info-subtitle">4. Yetkilendirme ve Erişim Kontrolleri</h2>
                        <p class="info-text">
                            Bilgilere sadece yetkili personel erişebilir. Erişim kontrolleri ve yetkilendirme
                            mekanizmaları, bilgi güvenliğinin sağlanmasına yardımcı olur.
                        </p>

                        <h2 class="info-subtitle">5. Eğitim ve Farkındalık</h2>
                        <p class="info-text">
                            Personelimizin bilgi güvenliği konularında eğitim almasını sağlıyor ve bilinçlendirme
                            faaliyetlerini destekliyoruz. Bilgi güvenliği en iyi uygulamalarını benimsemelerine yardımcı
                            oluyoruz.
                        </p>

                        <h2 class="info-subtitle">6. İzleme ve Olay Yanıtı</h2>
                        <p class="info-text">
                            Bilgi güvenliği olaylarını izliyor ve olası tehditlere karşı hızlı bir şekilde yanıt
                            veriyoruz. Olayları tespit etmek ve etkilerini en aza indirmek için sürekli çaba sarf
                            ediyoruz.
                        </p>

                        <h2 class="info-subtitle">7. Yasa ve Düzenlemelere Uyumluluk</h2>
                        <p class="info-text">
                            Tüm ilgili yasal düzenlemelere ve bilgi güvenliği standartlarına uyma konusundaki
                            taahhüdümüzü sürdürüyoruz.
                        </p>

                        <h2 class="info-subtitle">8. Sürekli İyileştirme</h2>
                        <p class="info-text">
                            Bilgi güvenliği politikamızı ve uygulamalarımızı sürekli olarak gözden geçiriyoruz ve
                            iyileştirme fırsatlarını değerlendiriyoruz.
                        </p>

                        <p class="info-text">
                            Talk to Web olarak, bilgi güvenliği konusundaki bu politika, müşterilerimize ve iş
                            ortaklarımıza duyduğumuz saygının ve taahhüdün bir ifadesidir. Bilgi güvenliğini korumak
                            için gereken tüm önlemleri almayı ve bu politikayı etkin bir şekilde uygulamayı taahhüt
                            ediyoruz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid numaralar-section-static">
            <div class="container">
                <div class="row">
                    <div class="col-7">

                    </div>
                    <div class="col-1"></div>
                    <div class="col-4 stats-form">
                        <div class="card p-4">
                            <h4 class="mb-4">Biz Sizi Arayalım</h4>
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Ad Soyad"
                                           required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Telefon" required>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary custom-button">Gönder</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 yorumlar-section">
            <h4 class="text-center mb-4">Öğrencilerimiz hakkımızda ne düşünüyor?</h4>
            <div class="row">
                <div id="testimonialCarousel" class="carousel slide">
                    <div class="testimonial-carousel">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">İyi Ki Varsınız</h6>
                                    <p>"Sayenizde artık benim de bir işim var. Ne söylesem, nasıl teşekkür etsem
                                        azdır."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>

                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/31-1.jpg"
                                         alt="Rashat Hacizade" class="testimonial-image">
                                    <div class="testimonial-name">Rashat Hacizade</div>
                                    <div class="testimonial-profession">Grafik Tasarım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Sonunda Buldum!</h6>
                                    <p>"1 yıldır UX-UI eğitimi alabileceğim bir yer arıyordum. Sizinle mesleğimi elime
                                        aldım. Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/abdulkadir_yilmaz.jpg"
                                         alt="Abdulkadir Yılmaz" class="testimonial-image">
                                    <div class="testimonial-name">Abdulkadir Yılmaz</div>
                                    <div class="testimonial-profession">UX-UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Çok Memnun Kaldım</h6>
                                    <p>"Üniversitede öğretilmeyen konuların tümünü burada öğrendim. Harika bir akademi,
                                        teşekkürler :)"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/baransel_akkus.jpg"
                                         alt="Baransel Akkuş" class="testimonial-image">
                                    <div class="testimonial-name">Baransel Akkuş</div>
                                    <div class="testimonial-profession">UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Teşekkürler Talk to Web 🙂</h6>
                                    <p>"Üniversitede almam gereken eğitimi sizden aldım. Çok şükür bir işe girebildim.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/esra_elma.jpg"
                                         alt="Esra Elma" class="testimonial-image">
                                    <div class="testimonial-name">Esra Elma</div>
                                    <div class="testimonial-profession">Creative Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Üniversite gibi Akademi</h6>
                                    <p>"Tasarım alanında eksiklerim vardı, aldığım eğitim sayesinde artık daha rahatım.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/ilker_metehan.jpg"
                                         alt="İlker Metehan" class="testimonial-image">
                                    <div class="testimonial-name">İlker Metehan</div>
                                    <div class="testimonial-profession">Web Yazılım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğitimler Çok Güzeldi</h6>
                                    <p>"Dövmelerimi geliştirmek için grafik tasarım eğitimi aldım ve şu an çok daha iyi
                                        çizimler yapabiliyorum."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/sena_uyanik.png"
                                         alt="Sena Uyanık" class="testimonial-image">
                                    <div class="testimonial-name">Sena Uyanık</div>
                                    <div class="testimonial-profession">Dövme Sanatçısı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Herkese Tavsiye Ediyorum</h6>
                                    <p>"Okulda göremeyeceğiniz konuları öğrenebilir, webinarlar ile de cv'nizi
                                        geliştirebilirsiniz. Memnun kaldım."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/esra_yagisan.jpg"
                                         alt="Esra Yağışan" class="testimonial-image">
                                    <div class="testimonial-name">Esra Yağışan</div>
                                    <div class="testimonial-profession">Bilgisayar Mühendisliği Öğrencisi</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğlenerek Öğrendim</h6>
                                    <p>"Sadece öğrenmek değil, keyifli bir eğitim almakta benim için önemliydi.
                                        Sağolun"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/serenay_colak.jpg"
                                         alt="Serenay Çolak" class="testimonial-image">
                                    <div class="testimonial-name">Serenay Çolak</div>
                                    <div class="testimonial-profession">Art Designer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer-cont"></footer>

<script src="{{ROOT}}/CrmProject/js/bootstrap.bundle.js"></script>
<script src="{{ROOT}}/CrmProject/node_modules/fontawesome/js/all.min.js"></script>
<script src="{{ROOT}}/CrmProject/Navbar/Js/Navbar.js"></script>
</body>
</html>