<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Koşullar ve Şartlar</title>
    <link href="https://test.talktoweb.com/CrmProject/css/bootstrap.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/Navbar/Css/Navbar.css" rel="stylesheet">
</head>
<body>
<div id="page-content" class="site">
    <div id="content" class="site-content">
        <header id="header-cont" class="header sticky-top">
        </header>
        <div class="whatsapp">
            <a href="https://wa.me/5456688801" target="_blank" class="btn btn-success btn-circle"
                id="whatsappButton">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Koşullar ve Şartlar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="info">
                <div class="row">
                    <div class="col-12">
                        <h1 class="info-bigTitle">Koşullar Ve Şartlar</h1>
                        <p class="info-text"><em>Son güncellenme: 18/09/2023</em></p>

                        <h2 class="info-title">1. Web Sitemiz</h2>
                        <p class="info-text">
                            Web site adresimiz: <a href="https://talktoweb.com/">https://talktoweb.com</a>
                        </p>
                        <blockquote>
                            <p class="info-text">
                                Sevgili ziyaretçimiz, lütfen www.talktoweb.com web sitemizi ziyaret etmeden önce işbu
                                kullanım
                                koşulları sözleşmesini dikkatlice okuyunuz. Siteye erişiminiz tamamen bu sözleşmeyi
                                kabulünüze
                                ve bu sözleşme ile belirlenen şartlara uymanıza bağlıdır. Şayet bu sözleşmede yazan
                                herhangi bir
                                koşulu kabul etmiyorsanız, lütfen siteye erişiminizi sonlandırınız. Siteye erişiminizi
                                sürdürdüğünüz takdirde, koşulsuz ve kısıtlamasız olarak, işbu sözleşme metninin tamamını
                                kabul
                                ettiğinizin, tarafımızca varsayılacağını lütfen unutmayınız.
                            </p>
                        </blockquote>

                        <p class="info-text">
                            www.talktoweb.com web sitesi Talk to Web Dijital Eğitim Merkezi tarafından yönetilmekte
                            olup,
                            bundan sonra SİTE olarak anılacaktır. İşbu siteye ilişkin Kullanım Koşulları, yayınlanmakla
                            yürürlüğe girer. Değişiklik yapma hakkı, tek taraflı olarak SİTE’ye aittir ve SİTE üzerinden
                            ve
                            mobil uygulamalar üzerinden güncel olarak paylaşılacak olan bu değişiklikleri, tüm
                            kullanıcılarımız
                            baştan kabul etmiş sayılır.
                        </p>

                        <h2 class="info-title">2. Gizlilik</h2>
                        <p class="info-text">
                            Gizlilik, ayrı bir sayfada, kişisel verilerinizin tarafımızca işlenmesinin esaslarını
                            düzenlemek
                            üzere mevcuttur. SİTE’yi kullandığınız takdirde, bu verilerin işlenmesinin gizlilik
                            politikasına
                            uygun olarak gerçekleştiğini kabul edersiniz.
                        </p>

                        <h2 class="info-title">3. Hizmet Kapsamı</h2>
                        <p class="info-text">
                            Talk to Web Dijital Eğitim Merkezi olarak, sunacağımız hizmetlerin kapsamını ve niteliğini,
                            yasalar
                            çerçevesinde belirlemekte tamamen serbest olup; hizmetlere ilişkin yapacağımız
                            değişiklikler, SİTE’de
                            yayınlanmakla yürürlüğe girmiş sayılacaktır.
                        </p>

                        <h2 class="info-title">4. Telif Hakları</h2>
                        <p class="info-text">
                            SİTE’de yayınlanan tüm metin, kod, grafikler, logolar, resimler, ses dosyaları ve kullanılan
                            yazılımın sahibi (bundan böyle ve daha sonra “içerik” olarak anılacaktır) Talk to Web
                            Dijital Eğitim
                            Merkezi olup, tüm hakları saklıdır. Yazılı izin olmaksızın site içeriğinin çoğaltılması veya
                            kopyalanması kesinlikle yasaktır.
                        </p>

                        <h2 class="info-title">5. Genel Hükümler</h2>
                        <p class="info-text">
                            Kullanıcıların tamamı, SİTE’yi yalnızca hukuka uygun ve şahsi amaçlarla kullanacaklarını ve
                            üçüncü
                            kişinin haklarına tecavüz teşkil edecek nitelikteki herhangi bir faaliyette bulunmayacağını
                            taahhüt
                            eder. SİTE dâhilinde yaptıkları işlem ve eylemlerindeki, hukuki ve cezai sorumlulukları
                            kendilerine
                            aittir. İşbu iş ve eylemler sebebiyle, üçüncü kişilerin uğradıkları veya uğrayabilecekleri
                            zararlardan dolayı SİTE’nin doğrudan ve/veya dolaylı hiçbir sorumluluğu yoktur.
                        </p>

                        <p class="info-text">
                            SİTE’de mevcut bilgilerin doğruluk ve güncelliğini sağlamak için elimizden geleni
                            yapmaktayız. Lakin
                            gösterdiğimiz çabaya rağmen, bu bilgiler, fiili değişikliklerin gerisinde kalabilir,
                            birtakım
                            farklılıklar olabilir. Bu sebeple, site içerisinde yer alan bilgilerin doğruluğu ve
                            güncelliği ile
                            ilgili tarafımızca, açık veya zımni, herhangi bir garanti verilmemekte, hiçbir taahhütte
                            bulunulmamaktadır.
                        </p>

                        <p class="info-text">
                            SİTE’de üçüncü şahıslar tarafından işletilen ve içerikleri tarafımızca bilinmeyen diğer web
                            sitelerine, uygulamalara ve platformlara köprüler (hyperlink) bulunabilir. SİTE, işlevsellik
                            yalnızca bu sitelere ulaşımı sağlamakta olup, içerikleri ile ilgili hiçbir sorumluluk kabul
                            etmemekteyiz.
                        </p>

                        <p class="info-text">
                            SİTE’yi virüslerden temizlenmiş tutmak konusunda elimizden geleni yapsak da, virüslerin
                            tamamen
                            bulunmadığı garantisini vermemekteyiz. Bu nedenle veri indirirken, virüslere karşı gerekli
                            önlemi
                            almak, kullanıcıların sorumluluğundadır. Virüs vb. kötü amaçlı programlar, kodlar veya
                            materyallerin
                            sebep olabileceği zararlardan dolayı sorumluluk kabul etmemekteyiz.
                        </p>

                        <p class="info-text">
                            SİTE’de sunulan hizmetlerde, kusur veya hata olmayacağına ya da kesintisiz hizmet
                            verileceğine dair
                            garanti vermemekteyiz. SİTE’ye ve sitenin hizmetlerine veya herhangi bir bölümüne olan
                            erişiminizi
                            önceden bildirmeksizin herhangi bir zamanda sonlandırabiliriz.
                        </p>

                        <h2 class="info-title">6. Sorumluluğun Sınırlandırılması</h2>
                        <p class="info-text">
                            SİTE’nin kullanımından doğan zararlara ilişkin sorumluluğumuz, kast ve ağır ihmal ile
                            sınırlıdır.
                            Sözleşmenin ihlalinden doğan zararlarda, talep edilebilecek toplam tazminat, öngörülebilir
                            hasarlar
                            ile sınırlıdır. Yukarıda bahsedilen sorumluluk sınırlamaları aynı zamanda insan hayatına,
                            bedeni
                            yaralanmaya veya bir kişinin sağlığına gelebilecek zararlar durumunda geçerli değildir.
                            Hukuken
                            mücbir sebep sayılan tüm durumlarda, gecikme, ifa etmeme veya temerrütten dolayı, herhangi
                            bir
                            tazminat yükümlülüğümüz doğmayacaktır.
                        </p>

                        <p class="info-text">
                            <em>Uyuşmazlık Çözümü:</em> İşbu Sözleşme’nin uygulanmasından veya yorumlanmasından doğacak
                            her türlü
                            uyuşmazlığın çözümünde, Türkiye Cumhuriyeti yasaları uygulanır; İzmir Adliyesi Mahkemeleri
                            ve İcra
                            Daireleri yetkilidir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid numaralar-section-static">
            <div class="container">
                <div class="row">
                    <div class="col-7">

                    </div>
                    <div class="col-1"></div>
                    <div class="col-4 stats-form">
                        <div class="card p-4">
                            <h4 class="mb-4">Biz Sizi Arayalım</h4>
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Ad Soyad"
                                           required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Telefon" required>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary custom-button">Gönder</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 yorumlar-section">
            <h4 class="text-center mb-4">Öğrencilerimiz hakkımızda ne düşünüyor?</h4>
            <div class="row">
                <div id="testimonialCarousel" class="carousel slide">
                    <div class="testimonial-carousel">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">İyi Ki Varsınız</h6>
                                    <p>"Sayenizde artık benim de bir işim var. Ne söylesem, nasıl teşekkür etsem
                                        azdır."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>

                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/31-1.jpg"
                                         alt="Rashat Hacizade" class="testimonial-image">
                                    <div class="testimonial-name">Rashat Hacizade</div>
                                    <div class="testimonial-profession">Grafik Tasarım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Sonunda Buldum!</h6>
                                    <p>"1 yıldır UX-UI eğitimi alabileceğim bir yer arıyordum. Sizinle mesleğimi elime
                                        aldım. Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/abdulkadir_yilmaz.jpg"
                                         alt="Abdulkadir Yılmaz" class="testimonial-image">
                                    <div class="testimonial-name">Abdulkadir Yılmaz</div>
                                    <div class="testimonial-profession">UX-UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Çok Memnun Kaldım</h6>
                                    <p>"Üniversitede öğretilmeyen konuların tümünü burada öğrendim. Harika bir akademi,
                                        teşekkürler :)"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/baransel_akkus.jpg"
                                         alt="Baransel Akkuş" class="testimonial-image">
                                    <div class="testimonial-name">Baransel Akkuş</div>
                                    <div class="testimonial-profession">UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Teşekkürler Talk to Web 🙂</h6>
                                    <p>"Üniversitede almam gereken eğitimi sizden aldım. Çok şükür bir işe girebildim.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/esra_elma.jpg"
                                         alt="Esra Elma" class="testimonial-image">
                                    <div class="testimonial-name">Esra Elma</div>
                                    <div class="testimonial-profession">Creative Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Üniversite gibi Akademi</h6>
                                    <p>"Tasarım alanında eksiklerim vardı, aldığım eğitim sayesinde artık daha rahatım.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/ilker_metehan.jpg"
                                         alt="İlker Metehan" class="testimonial-image">
                                    <div class="testimonial-name">İlker Metehan</div>
                                    <div class="testimonial-profession">Web Yazılım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğitimler Çok Güzeldi</h6>
                                    <p>"Dövmelerimi geliştirmek için grafik tasarım eğitimi aldım ve şu an çok daha iyi
                                        çizimler yapabiliyorum."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/sena_uyanik.png"
                                         alt="Sena Uyanık" class="testimonial-image">
                                    <div class="testimonial-name">Sena Uyanık</div>
                                    <div class="testimonial-profession">Dövme Sanatçısı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Herkese Tavsiye Ediyorum</h6>
                                    <p>"Okulda göremeyeceğiniz konuları öğrenebilir, webinarlar ile de cv'nizi
                                        geliştirebilirsiniz. Memnun kaldım."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/esra_yagisan.jpg"
                                         alt="Esra Yağışan" class="testimonial-image">
                                    <div class="testimonial-name">Esra Yağışan</div>
                                    <div class="testimonial-profession">Bilgisayar Mühendisliği Öğrencisi</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğlenerek Öğrendim</h6>
                                    <p>"Sadece öğrenmek değil, keyifli bir eğitim almakta benim için önemliydi.
                                        Sağolun"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/serenay_colak.jpg"
                                         alt="Serenay Çolak" class="testimonial-image">
                                    <div class="testimonial-name">Serenay Çolak</div>
                                    <div class="testimonial-profession">Art Designer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer-cont"></footer>

<script src="https://test.talktoweb.com/CrmProject/js/bootstrap.bundle.js"></script>
<script src="https://test.talktoweb.com/CrmProject/node_modules/fontawesome/js/all.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/Navbar/Js/Navbar.js"></script>
</body>
</html>