{% extends "frontend/base.html" %}
{% load  static %}
{% load l10n %}

{% block title %}<title>Kurumsal Eğitim Çözümleri | Hakkımızda</title>{% endblock %}

{% block css %}
    <style>

    </style>

{% endblock %}
{% block main_content %}
    <div class="container-fluid info-section">
        <div class="banner-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="banner-title">
                            <p class="title">Tüm Etkinlikler</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="info">
            <div class="row">
                <div class="col-md-12"></div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}


