<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Neden Talk To Web</title>
    <link href="https://test.talktoweb.com/CrmProject/css/bootstrap.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="https://test.talktoweb.com/CrmProject/Navbar/Css/Navbar.css" rel="stylesheet">
</head>
<body>
<div id="page-content" class="site">
    <div id="content" class="site-content">
        <header id="header-cont" class="header sticky-top">
        </header>
        <div class="whatsapp">
            <a href="https://wa.me/5456688801" target="_blank" class="btn btn-success btn-circle"
                id="whatsappButton">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Neden Talk to Web?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" id="info">
                <div class="row">
                    <div class="col-12">
                        <h2 class="info-title">Neden Talk to Web?</h2>
                        <p class="info-text">
                            Dijital dünyanın hızla evrim geçirdiği günümüzde, iş dünyasının da dijitalleşme ihtiyacı
                            giderek artmaktadır. Bu dijital dönüşüm, kurumsal başarı ve rekabet avantajı sağlamak için
                            gerekli olan dijital beceriler ve uzmanlık alanlarını zorunlu kılmaktadır. Talk to Web
                            olarak, bu dijital dönüşüm sürecinde sizlere rehberlik etmek ve destek olmak için buradayız.
                            Peki, neden Talk to Web’i tercih etmelisiniz?
                        </p>
                        <h2 class="info-subtitle">Uzmanlık ve Deneyim</h2>
                        <p class="info-text">
                            Talk to Web, yılların deneyimi ve bilgi birikimi ile sektörün öncüsü konumundadır. Grafik
                            tasarım, UI-UX tasarımı, yazılım geliştirme, mobil uygulama geliştirme, sosyal medya ve
                            dijital pazarlama gibi alanlarda sağladığımız eğitimler, endüstrinin en iyileri tarafından
                            sunulmaktadır. Eğitmenlerimiz, alanlarında uzman ve güncel bilgilere sahiptir, bu da
                            eğitimlerimizin kalitesini artırmaktadır.
                        </p>
                        <h2 class="info-subtitle">Uygulamalı Öğrenme İmkanları</h2>
                        <p class="info-text">
                            Kalitemizi göstermek adına, öğrencilere sadece teorik bilgi sunmakla kalmıyor, aynı zamanda
                            uygulamalı deneyim de sağlıyoruz. Öğrencilerimiz, gerçek dünya projeleri üzerinde çalışarak,
                            teorik bilgilerini pratikte nasıl uygulayacaklarını öğrenirler. Bu sayede, iş dünyasında
                            hemen kullanılabilecek yetkinlikler kazanırlar.
                        </p>
                        <h2 class="info-subtitle">Kişiselleştirilmiş Eğitim Yaklaşımı</h2>
                        <p class="info-text">
                            Her öğrenci benzersizdir ve farklı ihtiyaçlara sahiptir. Bu yüzden eğitim yaklaşımımızı
                            kişiselleştiriyoruz. Öğrencilerimizin bireysel ihtiyaçlarını ve hedeflerini anlayarak,
                            onlara en uygun eğitim planını sunuyoruz. Kişiye özel eğitim programlarımız sayesinde,
                            herkes kendi hızında ve kendi ilgi alanlarına uygun şekilde öğrenebilir.
                        </p>
                        <h2 class="info-subtitle">Güncel Teknoloji ve Trendler</h2>
                        <p class="info-text">
                            Dijital dünya sürekli değişiyor ve güncel kalmak son derece önemlidir. Talk to Web,
                            öğrencilere en son teknoloji ve sektör trendleri hakkında bilgi verir. Bu sayede,
                            öğrencilerimiz rekabetin her zaman bir adım önünde olur ve sektördeki değişikliklere hızlıca
                            uyum sağlarlar. Eğitim materyallerimiz ve kaynaklarımız, sürekli olarak güncellenmekte ve
                            yenilenmektedir.
                        </p>
                        <h2 class="info-subtitle">İşbirliği ve Ağ Oluşturma Fırsatları</h2>
                        <p class="info-text">
                            Talk to Web, öğrencilere profesyonel ağlarını genişletme ve işbirliği fırsatları yakalama
                            imkanı sunar. Eğitimlerimiz, gelecekteki iş ortakları ve meslektaşlarınızla tanışmanız için
                            mükemmel bir platform sağlar. Bu işbirlikleri, kariyer gelişiminize büyük katkı sağlar ve
                            sizi sektörde daha görünür kılar.
                        </p>
                        <h2 class="info-subtitle">Sürekli Destek ve Kariyer Rehberliği</h2>
                        <p class="info-text">
                            Eğitimlerimiz sona erdiğinde bile, Talk to Web olarak sizin yanınızdayız. Mezunlarımıza
                            kariyerlerinin her aşamasında destek sunarız. Bu destek, iş arama süreçlerinde, kariyer
                            planlamasında ve profesyonel gelişimde rehberlik içerir. Böylece, mezunlarımızın
                            başarılarına katkıda bulunmaya devam ederiz.
                        </p>
                        <h2 class="info-subtitle">Talk to Web Eğitimleri ve Kalitesi</h2>
                        <p class="info-text">
                            Talk to Web’in eğitimleri, kalite ve içerik açısından üst düzeydedir. Her eğitim
                            programımız, alanında uzman eğitmenler tarafından titizlikle hazırlanmıştır.
                            Eğitimlerimizde, en güncel ve etkili öğretim yöntemleri kullanılmakta ve öğrencilerin
                            maksimum verim alması hedeflenmektedir. Ayrıca, öğrencilerimize sunduğumuz
                            kişiselleştirilmiş eğitim yaklaşımları, onların bireysel öğrenme ihtiyaçlarını karşılamaya
                            yönelik olarak tasarlanmıştır.

                            Talk to Web olarak, dijital dünyanın gereksinimlerine uygun, kaliteli ve kapsamlı eğitim
                            programları sunuyoruz. Eğitimlerimiz, sektördeki en iyi uygulamaları ve en son trendleri
                            yansıtarak, öğrencilerimizin profesyonel hayatta başarılı olmalarını sağlamaktadır. Bizimle
                            birlikte geleceğinizi inşa etmek ve dijital dünyada etkili bir şekilde ilerlemek için adım
                            atın.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid numaralar-section my-5">
            <div class="inner-wrapper">
                <div class="container student-video-style">
                    <div class="col-7 d-flex flex-column justify-content-center stats-numbers">
                        <h5 class="section-title text-center mb-4">Kariyeriniz İçin En Doğru Adım</h5>
                        <div class="d-flex justify-content-between w-100">
                            <div class="text-center number-box">
                                <h2>263</h2>
                                <p>Tamamlanan Eğitim</p>
                            </div>
                            <div class="text-center number-box">
                                <h2>359</h2>
                                <p>Onaylanmış Eğitim</p>
                            </div>
                            <div class="text-center number-box">
                                <h2>5,191+</h2>
                                <p>Mezun Öğrenci</p>
                            </div>
                            <div class="text-center number-box">
                                <h2>100%</h2>
                                <p>Memnuniyet</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-4 stats-form">
                        <div class="card p-4">
                            <h4 class="mb-4">Biz Sizi Arayalım</h4>
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Ad Soyad"
                                           required>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control custom-input" placeholder="Telefon" required>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary custom-button">Gönder</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 yorumlar-section">
            <h4 class="text-center mb-4">Öğrencilerimiz hakkımızda ne düşünüyor?</h4>
            <div class="row">
                <div id="testimonialCarousel" class="carousel slide">
                    <div class="testimonial-carousel">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">İyi Ki Varsınız</h6>
                                    <p>"Sayenizde artık benim de bir işim var. Ne söylesem, nasıl teşekkür etsem
                                        azdır."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>

                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/31-1.jpg"
                                         alt="Rashat Hacizade" class="testimonial-image">
                                    <div class="testimonial-name">Rashat Hacizade</div>
                                    <div class="testimonial-profession">Grafik Tasarım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Sonunda Buldum!</h6>
                                    <p>"1 yıldır UX-UI eğitimi alabileceğim bir yer arıyordum. Sizinle mesleğimi elime
                                        aldım. Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/abdulkadir_yilmaz.jpg"
                                         alt="Abdulkadir Yılmaz" class="testimonial-image">
                                    <div class="testimonial-name">Abdulkadir Yılmaz</div>
                                    <div class="testimonial-profession">UX-UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Çok Memnun Kaldım</h6>
                                    <p>"Üniversitede öğretilmeyen konuların tümünü burada öğrendim. Harika bir akademi,
                                        teşekkürler :)"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/baransel_akkus.jpg"
                                         alt="Baransel Akkuş" class="testimonial-image">
                                    <div class="testimonial-name">Baransel Akkuş</div>
                                    <div class="testimonial-profession">UI Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Teşekkürler Talk to Web 🙂</h6>
                                    <p>"Üniversitede almam gereken eğitimi sizden aldım. Çok şükür bir işe girebildim.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2021/03/esra_elma.jpg"
                                         alt="Esra Elma" class="testimonial-image">
                                    <div class="testimonial-name">Esra Elma</div>
                                    <div class="testimonial-profession">Creative Designer</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Üniversite gibi Akademi</h6>
                                    <p>"Tasarım alanında eksiklerim vardı, aldığım eğitim sayesinde artık daha rahatım.
                                        Teşekkürler."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/ilker_metehan.jpg"
                                         alt="İlker Metehan" class="testimonial-image">
                                    <div class="testimonial-name">İlker Metehan</div>
                                    <div class="testimonial-profession">Web Yazılım Uzmanı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğitimler Çok Güzeldi</h6>
                                    <p>"Dövmelerimi geliştirmek için grafik tasarım eğitimi aldım ve şu an çok daha iyi
                                        çizimler yapabiliyorum."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/sena_uyanik.png"
                                         alt="Sena Uyanık" class="testimonial-image">
                                    <div class="testimonial-name">Sena Uyanık</div>
                                    <div class="testimonial-profession">Dövme Sanatçısı</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Herkese Tavsiye Ediyorum</h6>
                                    <p>"Okulda göremeyeceğiniz konuları öğrenebilir, webinarlar ile de cv'nizi
                                        geliştirebilirsiniz. Memnun kaldım."</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/esra_yagisan.jpg"
                                         alt="Esra Yağışan" class="testimonial-image">
                                    <div class="testimonial-name">Esra Yağışan</div>
                                    <div class="testimonial-profession">Bilgisayar Mühendisliği Öğrencisi</div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="testimonial-content">
                                    <h6 class="testimonial-title">Eğlenerek Öğrendim</h6>
                                    <p>"Sadece öğrenmek değil, keyifli bir eğitim almakta benim için önemliydi.
                                        Sağolun"</p>
                                    <div class="testimonial-rating">
                                        ★★★★★
                                    </div>
                                </div>
                                <div class="testimonial-footer">
                                    <img src="https://talktoweb.com/wp-content/uploads/2023/09/serenay_colak.jpg"
                                         alt="Serenay Çolak" class="testimonial-image">
                                    <div class="testimonial-name">Serenay Çolak</div>
                                    <div class="testimonial-profession">Art Designer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer-cont"></footer>

<script src="https://test.talktoweb.com/CrmProject/js/bootstrap.bundle.js"></script>
<script src="https://test.talktoweb.com/CrmProject/node_modules/fontawesome/js/all.min.js"></script>
<script src="https://test.talktoweb.com/CrmProject/Navbar/Js/Navbar.js"></script>
</body>
</html>