{% extends "frontend/base.html" %}
{% load  static %}
{% load l10n %}

{% block title %}<title>Anasayfa | Talk to Web ile Kariyerini Tasarla</title>{% endblock %}


{% block main_content %}
    <div id="content" class="site-content">
        <div class="container-fluid info-section">
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-title">
                                <p class="title">Kurumsal Başvuru</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-3 form-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="form-container">
                            <form id="preApplicationForm">
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label for="fullNameForm" class="form-label">Ad Soyad <span
                                                class="asterisk">*</span></label>
                                        <input type="text" class="form-control" id="fullNameForm"
                                               placeholder="Adınız Soyadınız" required>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label for="phoneForm" class="form-label">Şirket İsmi<span
                                                class="asterisk">*</span></label>
                                        <input type="text" class="form-control" id="companyNameForm"
                                               placeholder="Şirket İsmi"
                                               required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label for="phoneForm" class="form-label">Telefon<span
                                                class="asterisk">*</span></label>
                                        <input type="tel" class="form-control" id="phone" placeholder="Telefon"
                                               required>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label for="title" class="form-label">Ünvanınız<span
                                                class="asterisk">*</span></label>
                                        <input type="text" class="form-control" id="title" name="title" placeholder="Ünvanınız"
                                               required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label for="email" class="form-label">E-posta<span
                                                class="asterisk">*</span></label>
                                        <input type="text" class="form-control" id="email" name="email"
                                               placeholder="E posta Adresiniz"
                                               required>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label for="course_group" class="form-label">Hangi Eğitimi Almak İstersiniz?
                                            <span class="asterisk">*</span>
                                        </label>
                                        <select class="form-control" id="course_group" required>
                                            {% for course_group in all_course_groups %}
                                                <option value="{{ course_group.id }}">{{ course_group.course.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-5 mb-3">
                                        <label for="ad_source" class="form-label">Bize Nereden Ulaştınız? <span
                                                class="asterisk">*</span></label>
                                        <select class="form-control" id="ad_source" required>
                                            <option value="social_media_ads">Sosyal Medya Reklamları</option>
                                            <option value="google_ads">Google Reklamları</option>
                                            <option value="individual_recommendation">Kişisel Tavsiye</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="text">
                                    <button type="submit" class="btn btn-primary">Başvuru Yap</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}